.accordion {
  margin: 0;
  padding: 0;
  font-size: 0.88889em;
  font-family: "Gill Sans W04", "Gill Sans", serif;
}

.accordion h1 {
  font-size: em(20, 18);
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-weight: normal;
}

.accordion__content {
  overflow: auto !important;
  background: none #ebebeb;
  height: 100% !important;
  border: 0;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 0;
}

.accordion .ui-widget-content {
  overflow: auto !important;
  background: #ebebeb;
  height: 100% !important;
  border: 0;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 0;
}

.accordion .ui-state-default,
.accordion .ui-widget-content .ui-state-default,
.accordion .ui-widget-header .ui-state-default {
  background: #fff;
  border: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #cbd0d3;
  margin-top: 0;
}

.accordion .ui-state-default a,
.accordion .ui-widget-content .ui-state-default a,
.accordion .ui-widget-header .ui-state-default a {
  color: #007ea4;
}

.accordion .ui-state-hover,
.accordion .ui-widget-content .ui-state-hover,
.accordion .ui-widget-header .ui-state-hover {
  background: none #ebebeb;
  border: 0;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  border-bottom: 2px solid #cbd0d3;
}

.accordion .ui-state-hover a,
.accordion .ui-widget-content .ui-state-hover a,
.accordion .ui-widget-header .ui-state-hover a {
  color: #000;
}

.accordion .ui-state-active a,
.accordion .ui-state-active a:link,
.accordion .ui-state-active a:visited {
  color: #212121;
  text-decoration: none;
}

.accordion .ui-state-active a a,
.accordion .ui-state-active a:link a,
.accordion .ui-state-active a:visited a {
  color: #000;
}

.accordion .accordion_item {
  color: #000;
  font-size: 0.9375em;
  font-weight: 400;
  padding: 1em 2em 1em 2.5em;
  text-transform: uppercase;
}

.accordion .accordion_item:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  content: ' ';
  width: 4px;
  max-width: 4px;
  border-left: 4px solid #fff;
}

.accordion .accordion_item .ui-accordion-header-icon {
  background: none;
  left: 1em;
  text-indent: 0;
}

.accordion .accordion_item .ui-accordion-header-icon:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.accordion .accordion_item .ui-accordion-header-icon:before {
  color: #007ea4;
  font-size: 0.8em;
  font-weight: 600;
  visibility: visible;
  content: '\e615';
}

.accordion .ui-accordion-content {
  border-bottom: 2px solid #cbd0d3;
}

.accordion .accordion_item.ui-state-active,
.accordion .accordion_item.ui-state-focus,
.accordion .accordion_item.ui-state-hover {
  background: none #ebebeb;
  border-bottom: 2px solid #cbd0d3;
}

.accordion .accordion_item.ui-state-active:before,
.accordion .accordion_item.ui-state-focus:before,
.accordion .accordion_item.ui-state-hover:before {
  border-left: 4px solid #007ea4;
}

.accordion .accordion_item.ui-state-active .ui-accordion-header-icon:before {
  content: '\e613';
}

.accordion .accordion_item:first-child {
  border-top: 2px solid #fff;
}

.accordion .accordion_item.ui-state-focus:first-child,
.accordion .accordion_item.ui-state-hover:first-child {
  border-top: 2px solid #cbd0d3;
}

.accordion .field-name-field-image-single {
  clear: both;
}

.accordion .ui-corner-all,
.accordion .ui-corner-top,
.accordion .ui-corner-left,
.accordion .ui-corner-tl {
  border-top-left-radius: 0;
}

.accordion .ui-corner-all,
.accordion .ui-corner-top,
.accordion .ui-corner-right,
.accordion .ui-corner-tr {
  border-top-right-radius: 0;
}

.accordion .ui-corner-all,
.accordion .ui-corner-bottom,
.accordion .ui-corner-left,
.accordion .ui-corner-bl {
  border-bottom-left-radius: 0;
}

.accordion .ui-corner-all,
.accordion .ui-corner-bottom,
.accordion .ui-corner-right,
.accordion .ui-corner-br {
  border-bottom-right-radius: 0;
}
.banner {
  overflow: hidden;
  position: relative;
}

.banner img {
  height: auto;
  width: 100%;
}

.banner__text-inner {
  width: auto;
  padding: 14px;
  font-size: 1.55556em;
  line-height: 1.3em;
  color: white;
  background-color: #007ea4;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .banner__item {
    position: absolute;
    top: 30%;
    width: 100%;
  }

  .banner__text {
    margin-left: auto;
    margin-right: auto;
    max-width: 59em;
    padding: 1em;
  }

  .banner__text-inner {
    display: inline-block;
    max-width: 80%;
    padding: 28px;
    font-size: 42px;
  }
}
.bef-link {
  color: #fff;
}

.bef-link .form-type-bef-link {
  background-color: #e2e2e2;
  display: inline-block;
  margin-bottom: 5px;
}

.bef-link .form-type-bef-link a {
  display: block;
  padding: 5px 10px;
  color: #444444;
}

.bef-link .form-type-bef-link.selected {
  background-color: #00ba5a;
}

.bef-link .form-type-bef-link.selected a {
  color: #fff;
}
.better-cph-limited {
  margin-bottom: 25px;
  margin-top: 25px;
  min-height: 250px;
  padding-bottom: 20px;
  padding-top: 20px;
  overflow: hidden;
  position: relative;
}

.better-cph-limited .pane-title {
  padding-right: 125px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.better-cph-limited .better-cph-limited__link {
  text-align: right;
  top: -23px;
  position: relative;
  z-index: 2;
  padding-left: 1em;
  padding-right: 1em;
}

.better-cph-limited .better-cph-limited__content {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

@media (min-width: 768px) {
  .better-cph-limited .better-cph-limited__content {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.better-cph-limited .better-cph-limited__image {
  bottom: 0;
  position: absolute;
  top: 0;
}

.better-cph-limited .better-cph-limited__image img {
  max-width: inherit;
}

.better-cph-limited .stats-numbers-wrapper {
  border-top: 1px solid white;
  margin-top: -17px;
  padding-top: 15px;
  position: relative;
  z-index: 2;
}

.better-cph-limited .stats__items {
  color: white;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .better-cph-limited .stats__items {
    float: left;
    width: 33.33333333%;
  }
}

.better-cph-limited .stats__items:first-child {
  clear: both;
}

.better-cph-limited .stats__items:first-child + div + div {
  margin-right: 0;
}

.better-cph-limited .stats__number {
  line-height: 1;
  padding-top: 5px;
}

.better-cph-limited .stats__number a {
  color: white;
  font-size: 2em;
  font-weight: bold;
}
.box-list-without-bullets {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  padding: 28px;
}

.box-list-without-bullets > .title {
  margin-bottom: 1em;
  margin-top: 0;
  font-size: 1.11111em;
}
.coloured-infobox {
  margin: 0 -17.5px;
}

.coloured-infobox:after {
  clear: both;
  content: '';
  display: table;
}

.coloured-infobox__item {
  float: left;
  padding: 0 17.5px;
  margin-bottom: 12px;
  width: 100%;
}

@media (min-width: 480px) {
  .coloured-infobox__item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .coloured-infobox__item {
    width: 33.33333333%;
  }
}

.coloured-infobox__link {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  display: block;
  min-height: 160px;
  padding: 24px 1em;
  position: relative;
}

.coloured-infobox__content {
  color: #000000;
  font-weight: normal;
}

.coloured-infobox__icon {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: 5px;
  height: 95px;
  opacity: 0.1;
  position: absolute;
  right: 5px;
  width: 130px;
  z-index: 1;
}
.contact {
  background: none repeat scroll 0 0 white;
}

.contact > div:nth-of-type(1) {
  margin-bottom: 1.33333em;
}

.contact .contact__content {
  overflow: hidden;
}

.contact .contact__content h3 {
  font-size: 1.11111em;
  font-weight: bold;
  margin-bottom: 0.27778em;
  text-transform: none;
}

.contact .address {
  margin: 0 20px 10px;
}

@media (min-width: 768px) {
  .contact .address {
    margin: 0 42px 1em;
  }
}

.contact .telephone {
  margin: 0.5em 20px;
}

@media (min-width: 768px) {
  .contact .telephone {
    margin: 0.5em 28px;
  }
}

.contact .group-contact-info__inner {
  margin-bottom: 42px;
}

.contact .group-contact-info__inner:after {
  clear: both;
  content: '';
  display: table;
}


.filter .form-select {
  padding: 5px;
  width: 100%;
}

.filter .chosen-container {
  font-size: 0.88889em;
  max-width: 100%;
}

.filter .chosen-container .chosen-choices,
.filter .chosen-container .chosen-drop {
  background: #fff;
  border: 1px solid #cbd0d3;
  padding: 0;
}

.filter .chosen-container .chosen-choices {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: 39px;
}

.filter .chosen-container .chosen-choices li.search-field {
  margin: 0;
}

.filter .chosen-container .chosen-choices li.search-field input.default {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #626262;
  font-size: 0.88889em;
  font-style: italic;
  font-weight: bold;
  padding: 0.5625em;
  width: 100%;
  font-family: "Gill Sans W04", "Gill Sans", serif;
  text-transform: uppercase;
  border: 1px solid #fff !important;
  min-width: 300px;
  min-height: 2.2em !important;
}

.filter .chosen-container .chosen-choices li.search-choice {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none;
  border: 0;
  box-shadow: none;
  line-height: 1em;
  margin: 5px;
  padding: 0.3em 2.5em 0.3em 1em;
  text-transform: uppercase;
}

.filter .chosen-container .chosen-drop li.active-result {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 0.6em 2.5em 0.6em 1em;
  text-transform: uppercase;
}

.filter .chosen-container .chosen-drop li.active-result.highlighted {
  background: #ebebeb none repeat scroll 0 0;
  color: #444444;
}
@font-face {
  font-family: 'flexslider-icon';
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icon.eot?#iefix") format('embedded-opentype'), url("../fonts/flexslider-icon.woff") format('woff'), url("../fonts/flexslider-icon.ttf") format('truetype'), url("../fonts/flexslider-icon.svg#flexslider-icon") format('svg');
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.flex-pauseplay a.flex-play:before {
  content: "";
}

.flex-pauseplay a:before {
  content: "";
  display: inline-block;
  font-family: "flexslider-icon";
  font-size: 20px;
}

.flex-pauseplay a.flex-play:before {
  content: "";
}

.flex-pauseplay a {
  bottom: 5px;
  color: #000;
  cursor: pointer;
  display: block;
  height: 20px;
  left: 10px;
  opacity: 0.8;
  overflow: hidden;
  position: absolute;
  width: 20px;
  z-index: 10;
}

.flexslider {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.flexslider .controls-nav {
  bottom: 0;
  height: 34px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.flexslider .flex-control-nav {
  bottom: 1em;
  display: inline-block;
  position: static;
  width: auto;
}

.flexslider .flex-control-nav li a {
  background-color: #007ea4;
}

.flexslider .flex-control-nav.flex-control-paging li a {
  height: 14px;
  width: 14px;
}

.flexslider .flex-direction-nav {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.flexslider .flex-direction-nav .flex-prev,
.flexslider .flex-direction-nav .flex-next {
  background-color: #007ea4;
  background-position: center center;
  color: white;
  text-indent: -9999px;
}

.flexslider .flex-direction-nav .flex-prev {
  background: url("../images/icon-arrow-left.png") no-repeat scroll center center #007ea4;
  left: 0.5em;
}

.flexslider .flex-direction-nav .flex-next {
  background: url("../images/icon-arrow-right.png") no-repeat scroll center center #007ea4;
  right: 0.5em;
}

.flexslider .flex-pauseplay {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  vertical-align: top;
}

.flexslider .flex-pauseplay .flex-pause,
.flexslider .flex-pauseplay .flex-play {
  background-position: center center;
  color: #007ea4;
}

.flexslider .flex-pauseplay a {
  position: static;
}

.flexslider .flex-pauseplay a,
.flexslider .flex-pauseplay a.flex-pause,
.flexslider .flex-pauseplay a.flex-play {
  color: #fff;
  padding: 0 12px;
  text-align: left;
  width: 40px;
}

.flexslider .flex-pauseplay a:before,
.flexslider .flex-pauseplay a.flex-pause:before,
.flexslider .flex-pauseplay a.flex-play:before {
  color: #007ea4;
  font-size: 16px;
  line-height: 15px;
  vertical-align: top;
}

.flex-control-nav {
  bottom: -40px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.flex-control-nav li {
  display: inline-block;
  margin: 0 6px;
}

.flex-control-paging li a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
  cursor: pointer;
  display: block;
  height: 11px;
  text-indent: -9999px;
  width: 11px;
}

.flex-direction-nav a {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: block;
  height: 40px;
  margin: -20px 0 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  top: 50%;
  transition: all 0.3s ease 0s;
  width: 40px;
  z-index: 10;
}

.image-link {
  margin: 0 -18px;
}

.image-link:after {
  clear: both;
  content: '';
  display: table;
}

.image-link__item {
  float: left;
  margin-bottom: 12px;
  padding: 0 18px;
  width: 100%;
}

@media (min-width: 480px) {
  .image-link__item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .image-link__item {
    width: 33.33333333%;
  }
}

.image-link__content {
  position: relative;
}

.image-link__single {
  line-height: 0;
}

.image-link__info {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  background: #000000;
  bottom: 0;
  display: block;
  min-height: 82px;
  padding: 12px 12px 46px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.image-link__info a {
  color: #ffffff;
}

.list-image {
  margin: 0 -2.5px;
}

.list-image:after {
  clear: both;
  content: '';
  display: table;
}

.list-image a {
  float: left;
  padding: 0 2.5px 5px;
}

.list-image a img {
  height: 193px;
  width: 193px;
}
.list-local-content {
  margin: 0 -17.5px;
}

.list-local-content:after {
  clear: both;
  content: '';
  display: table;
}

.list-local-content__item {
  float: left;
  margin-bottom: 1em;
  padding: 0 17.5px;
  width: 100%;
}

@media (min-width: 480px) {
  .list-local-content__item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .list-local-content__item {
    width: 33.33333333%;
  }
}

.list-local-content__item-inner {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  padding: 2.5em 1em 1.5em;
}

.list-local-content__item-inner:hover {
  background-color: #f4f4f4;
}

.list-local-content__image img {
  width: 100%;
}

.list-local-content__title {
  font-size: 1.33333em;
  margin-bottom: 0.8333333333333333em;
  text-transform: uppercase;
}

.list-local-content__title a {
  color: #006d8c;
  display: block;
}

.list-local-content__title a:hover {
  color: #181813;
}

.list-local-content__body {
  font-size: 0.88889em;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.list-local-content__body:hover {
  color: #15819d;
}

@media (min-width: 768px) {
  .list-local-content__item-inner {
    padding-: 3.5em 2em 1.5em;
  }
}
.list-local-content {
  margin: 0 -17.5px;
}

.list-local-content:after {
  clear: both;
  content: '';
  display: table;
}

.list-local-content__item {
  float: left;
  margin-bottom: 1em;
  padding: 0 17.5px;
  width: 100%;
}

@media (min-width: 480px) {
  .list-local-content__item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .list-local-content__item {
    width: 33.33333333%;
  }
}

.list-local-content__item-inner {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  padding: 2.5em 1em 1.5em;
}

.list-local-content__item-inner:hover {
  background-color: #f4f4f4;
}

.list-local-content__image img {
  width: 100%;
}

.list-local-content__title {
  font-size: 1.33333em;
  margin-bottom: 0.8333333333333333em;
  text-transform: uppercase;
}

.list-local-content__title a {
  color: #006d8c;
  display: block;
}

.list-local-content__title a:hover {
  color: #181813;
}

.list-local-content__body {
  font-size: 0.88889em;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.list-local-content__body:hover {
  color: #15819d;
}

@media (min-width: 768px) {
  .list-local-content__item-inner {
    padding-: 3.5em 2em 1.5em;
  }
}
.list-without-bullets > ul {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-without-bullets > ul > li {
  list-style: none;
}

.list-without-bullets > ul > li:after,
> .list-without-bullets > ul > li:before,
.list-without-bullets > ul > li > a:after,
.list-without-bullets > ul > li > a:before {
  content: '';
}
.menu-vertical__title {
  display: none;
}
.pager {
  height: auto;
}

.pager:after {
  clear: both;
  content: '';
  display: table;
}

.pager-ellipsis {
  height: 32px;
}
.personlige-forhold {
  margin-left: auto;
  margin-right: auto;
  max-width: 59em;
  padding-bottom: 0 !important;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  position: relative;
}

.personlige-forhold:after {
  clear: both;
  content: '';
  display: table;
}

.personlige-forhold__info h2 {
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .personlige-forhold__info {
    margin-right: 0.84034%;
    padding-bottom: 28px;
    width: 66.3866%;
    float: left;
  }
}

.personlige-forhold__description {
  font-size: 1.22222em;
  line-height: 1.4em;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .personlige-forhold__image {
    float: right;
    margin-right: 0;
    margin-top: -28px;
    position: absolute;
    right: 0;
    width: 32.7731%;
    bottom: 0;
  }
}
.post {
  margin: 0 -4px;
}

.post:after {
  clear: both;
  content: '';
  display: table;
}

.post__item {
  float: left;
  margin-bottom: 12px;
  padding: 0 4px;
  width: 100%;
}

@media (min-width: 480px) {
  .post__item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .post__item {
    width: 33.33333333%;
  }
}

.post__content {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  height: 201px;
  overflow: auto;
  padding: 28px;
}

.post__created {
  color: #626262;
  margin-bottom: 21px;
}

.post .tags {
  margin: 1em 0;
}

.related-files {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  margin-bottom: 28px;
  padding: 28px;
}

.related-files__title {
  margin-bottom: 18px;
  font-size: 1.33333em;
  line-height: 1.15em;
}

.related-files__type {
  margin-bottom: 2px;
}
.search-form {
  max-width: 670px;
  position: relative;
  width: 100%;
}

.search-form .form-item {
  margin-bottom: 12px;
  width: 100%;
}

@media (min-width: 480px) {
  .search-form .form-item {
    padding-right: 23%;
  }
}

.search-form .form-text {
  background-image: url("http://www.kk.dk/sites/all/themes/kkms_theme/images/icon-search-flip.png");
  background-position: 0.55556em 50%;
  background-repeat: no-repeat;
  font-size: 1em;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 2.125em;
}

.search-form .form-submit {
  font-size: 1em;
  line-height: 39px;
  margin-bottom: 6px;
  margin-right: 0;
  padding: 0 0.5em;
  text-transform: uppercase;
}

@media (min-width: 480px) {
  .search-form .form-submit {
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 21%;
  }
}
.service {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  background: none repeat scroll 0 0 #00acdd;
  color: white;
  line-height: 1.1;
  min-height: 94px;
  padding: 20px 90px 20px 20px;
  position: relative;
}

.service:after {
  background: url("../images/self-service-provided.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  content: " ";
  display: block;
  height: 54px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 55px;
  z-index: 1;
}

.service__title {
  font-size: 1.22222em;
  text-transform: uppercase;
}

.service__content {
  margin-top: 6px;
}

.service__link {
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.service__link a {
  padding-left: 100%;
  width: 0;
  z-index: 3;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
}

table.sticky-header {
  background-color: #fff;
  margin-top: 0;
}

table {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}

@media (min-width: 768px) {
  table {
    border-collapse: collapse;
    font-size: 0.88889em;
    table-layout: fixed;
    overflow: none;
    display: table;
  }
}

.sticky-header {
  border-collapse: collapse;
  font-size: 0.88889em;
  table-layout: fixed;
  width: 100%;
}

.sticky-header thead {
  display: table-header-group !important;
  font-size: 18px;
}

.sticky-header thead tr {
  background-color: #f4f4f4;
}

.sticky-header thead th {
  background-color: #f4f4f4;
  border: 1px solid #ebebeb;
  font-weight: bold;
  padding: 0.8em;
  text-align: left;
  word-wrap: break-word;
}
.horizontal-tabs .horizontal-tab-hidden {
  display: block;
  position: absolute;
  top: -100000px;
  width: 100%;
  left: 0;
}

.horizontal-tabs .horizontal-tabs-pane {
  padding: 42px;
}

.page div.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button.selected {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: white;
  border-color: #cbd0d3 #cbd0d3 white;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  box-shadow: 2px 0 0 rgba(68, 68, 68, 0.15);
  padding: 0;
  z-index: 100;
}

.page div.horizontal-tabs ul.horizontal-tabs-list {
  overflow: inherit;
}

.page div.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: transparent;
  border-color: -moz-use-text-color transparent;
  border-image: none;
  border-style: none solid;
  border-width: 0 1px;
  display: inline-block;
  float: inherit;
  font-weight: bold;
  margin: 0 3px -1px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
}

.page div.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button a:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.page div.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button.selected a {
  border-bottom: 1px solid #ccc;
}

@media (min-width: 768px) {
  .page div.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button.selected a {
    border: 0;
  }
}

@media (min-width: 768px) {
  .page div.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button {
    width: auto;
    border: 0;
  }
}
.tags {
  font-size: 0.83333em;
  font-style: italic;
  font-weight: 700;
}
.box-icons:after {
  clear: both;
  content: '';
  display: table;
}

.box-icons__item {
  float: left;
  margin-bottom: 22px;
  padding: 0 12px;
  width: 100%;
}

@media (min-width: 480px) {
  .box-icons__item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .box-icons__item {
    width: 33.33333333%;
  }
}

.box-icons__image {
  margin-bottom: 10px;
}

.box-icons__title {
  font-size: 1.22222em;
  line-height: 1.21em;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.box-icons__title {
  color: #006d8c;
}

.box-icons .most-read-pages {
  margin-bottom: 0;
  padding-top: 0;
  text-align: left;
}

.box-icons .most-read-pages:after {
  clear: both;
  content: '';
  display: table;
}

.box-icons .most-read-pages__item {
  clear: both;
  float: left;
  margin: 0 0 2px;
}
.most-read-pages {
  margin-bottom: 28px;
  text-align: center;
  padding-top: 12px;
}

.most-read-pages__title {
  font-size: 1.11111em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.most-read-pages__item {
  display: inline-block;
  font-size: 0.83333em;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 5px;
  margin-right: 1px;
}

.most-read-pages__link {
  background-color: #e1ecef;
  display: block;
  padding: 5px;
  line-height: 1.2em;
}
.list-icon {
  margin-bottom: 20px;
}

.list-icon:before,
.list-icon:after {
  content: '';
  display: table;
}

.list-icon:after {
  clear: both;
}

.list-icon li {
  width: 100%;
  float: left;
  margin: 10px 0;
}

@media (min-width: 480px) {
  .list-icon li {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .list-icon li {
    width: 33.33333333%;
  }
}