.banner {
  overflow: hidden;
  position: relative;
}

.banner img {
  height: auto;
  width: 100%;
}

.banner__text-inner {
  width: auto;
  padding: 14px;
  font-size: 1.55556em;
  line-height: 1.3em;
  color: white;
  background-color: #007ea4;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .banner__item {
    position: absolute;
    top: 30%;
    width: 100%;
  }

  .banner__text {
    margin-left: auto;
    margin-right: auto;
    max-width: 59em;
    padding: 1em;
  }

  .banner__text-inner {
    display: inline-block;
    max-width: 80%;
    padding: 28px;
    font-size: 42px;
  }
}
.clearleft:after {
  clear: both;
  content: '';
  display: table;
}

.box-style-border-doupble {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
}

.box-icons {
  margin: 0 -12px;
}

.box-icons:after {
  clear: both;
  content: '';
  display: table;
}

.box-icons__item {
  float: left;
  margin-bottom: 22px;
  padding: 0 12px;
  width: 33.333%;
}

.box-icons__image {
  margin-bottom: 10px;
}

.box-icons__title {
  font-size: 1.22222em;
  line-height: 1.21em;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.box-icons__title {
  color: #006d8c;
}

.box-icons .most-read-pages {
  margin-bottom: 0;
  padding-top: 0;
  text-align: left;
}

.box-icons .most-read-pages:after {
  clear: both;
  content: '';
  display: table;
}

.box-icons .most-read-pages__item {
  clear: both;
  float: left;
  margin: 0 0 2px;
}
.clearleft:after {
  clear: both;
  content: '';
  display: table;
}

.box-style-border-doupble {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
}

.coloured-infobox {
  margin: 0 -17.5px;
}

.coloured-infobox:after {
  clear: both;
  content: '';
  display: table;
}

.coloured-infobox__item {
  width: 33.33333333%;
  float: left;
  padding: 0 17.5px;
}

.coloured-infobox__link {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  display: block;
  min-height: 160px;
  padding: 24px 1em;
  position: relative;
}

.coloured-infobox__content {
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
}

.coloured-infobox__icon {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: 5px;
  height: 95px;
  opacity: 0.1;
  position: absolute;
  right: 5px;
  width: 130px;
  z-index: 1;
}
.clearleft:after {
  clear: both;
  content: '';
  display: table;
}

.box-style-border-doupble {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
}

.image-link {
  margin: 0 -18px;
}

.image-link:after {
  clear: both;
  content: '';
  display: table;
}

.image-link__item {
  padding: 0 18px;
  width: 33.33333333%;
  float: left;
}

.image-link__content {
  position: relative;
}

.image-link__single {
  line-height: 0;
}

.image-link__info {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  background: #000000;
  bottom: 0;
  display: block;
  min-height: 82px;
  padding: 12px 12px 46px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.image-link__info a {
  color: #ffffff;
}
.most-read-pages {
  margin-bottom: 28px;
  text-align: center;
  padding-top: 12px;
}

.most-read-pages__title {
  font-size: 1.11111em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.most-read-pages__item {
  display: inline-block;
  font-size: 0.83333em;
  font-style: italic;
  font-weight: 700;
  margin-right: 1px;
}

.most-read-pages__link {
  background-color: #e1ecef;
  display: block;
  padding: 5px;
  line-height: 1.2em;
}
.clearleft:after {
  clear: both;
  content: '';
  display: table;
}

.box-style-border-doupble {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
}

.pager {
  height: auto;
}

.pager:after {
  clear: both;
  content: '';
  display: table;
}
.clearleft:after {
  clear: both;
  content: '';
  display: table;
}

.box-style-border-doupble {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
}

.post {
  margin: 0 -4px;
}

.post:after {
  clear: both;
  content: '';
  display: table;
}

.post__item {
  padding: 0 4px;
  width: 33.33333333%;
  float: left;
}

.post__content {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  height: 201px;
  overflow: auto;
  padding: 28px;
}

.post__created {
  color: #626262;
  margin-bottom: 21px;
}

.post .tags {
  margin: 1em 0;
}
.search {
  display: block;
}
.social__item {
  display: inline-block;
}
.tags {
  font-size: 0.83333em;
  font-style: italic;
  font-weight: 700;
}