.accordion .ui-accordion-header {
  border-bottom: 2px solid #cbd0d3;
  color: #007ea4;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  padding: 1em 2em 1em 2.5em;
  position: relative;
  text-transform: uppercase;
}

.accordion .ui-accordion-header:before {
  bottom: 0;
  content: '';
  left: 0;
  max-width: 4px;
  position: absolute;
  top: 0;
  width: 4px;
}

.accordion .ui-accordion-header:hover {
  background-color: #ebebeb;
}

.accordion .ui-accordion-header:hover:before {
  border-left: 4px solid #007ea4;
}

.accordion .ui-accordion-header .ui-accordion-header-icon {
  left: 1em;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}

.accordion .ui-accordion-header .ui-accordion-header-icon:before {
  color: #007ea4;
  content: '\e615';
  font-family: "icomoon";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

.accordion #ui-id-1.accordion_item {
  border-top: 2px solid transparent;
}

.accordion #ui-id-1.accordion_item:hover,
.accordion #ui-id-1.ui-accordion-header-active {
  border-top: 2px solid #cbd0d3;
}

.accordion .ui-accordion-content {
  border-bottom: 2px solid #cbd0d3;
  padding: 1em 2.2em;
}

.accordion .ui-accordion-header-active,
.accordion .ui-accordion-content-active {
  background-color: #cbd0d3;
}

.accordion .ui-accordion-header-active {
  color: #444444;
}

.accordion .ui-accordion-header-active:before {
  border-left: 4px solid #007ea4;
}

.accordion .ui-accordion-header-active .ui-accordion-header-icon:before {
  content: '\e613';
}
.banner {
  overflow: hidden;
  position: relative;
}

.banner img {
  height: auto;
  width: 100%;
}

.banner__text-inner {
  width: auto;
  padding: 14px;
  font-size: 1.55556em;
  line-height: 1.3em;
  color: white;
  background-color: #007ea4;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .banner__item {
    position: absolute;
    top: 30%;
    width: 100%;
  }

  .banner__text {
    margin-left: auto;
    margin-right: auto;
    max-width: 59em;
    padding: 1em;
  }

  .banner__text-inner {
    display: inline-block;
    max-width: 80%;
    padding: 28px;
    font-size: 42px;
  }
}
.bef-link {
  color: #fff;
}

.bef-link .form-type-bef-link {
  background-color: #e2e2e2;
  display: inline-block;
  margin-bottom: 5px;
}

.bef-link .form-type-bef-link a {
  display: block;
  padding: 5px 10px;
  color: #444444;
}

.bef-link .form-type-bef-link.selected {
  background-color: #00ba5a;
}

.bef-link .form-type-bef-link.selected a {
  color: #fff;
}
.better-cph-limited {
  margin-bottom: 25px;
  margin-top: 25px;
  min-height: 250px;
  padding-bottom: 20px;
  padding-top: 20px;
  overflow: hidden;
  position: relative;
}

.better-cph-limited .pane-title {
  padding-right: 125px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.better-cph-limited .better-cph-limited__link {
  text-align: right;
  top: -23px;
  position: relative;
  z-index: 2;
  padding-left: 1em;
  padding-right: 1em;
}

.better-cph-limited .better-cph-limited__content {
  padding-left: 1em;
  padding-right: 1em;
}

.better-cph-limited .better-cph-limited__image {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.better-cph-limited .stats-numbers-wrapper {
  border-top: 1px solid white;
  margin-top: -17px;
  padding-top: 15px;
  position: relative;
  z-index: 2;
}

.better-cph-limited .stats__items {
  float: left;
  margin-right: 2.27273%;
  width: 31.8182%;
  color: white;
}

.better-cph-limited .stats__items:first-child {
  clear: both;
}

.better-cph-limited .stats__items:first-child + div + div {
  margin-right: 0;
}

.better-cph-limited .stats__number {
  line-height: 1;
  padding-top: 5px;
}

.better-cph-limited .stats__number a {
  color: white;
  font-size: 2em;
  font-weight: bold;
}
.box-list-without-bullets {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  padding: 28px;
}

.box-list-without-bullets > .title {
  margin-bottom: 1em;
  margin-top: 0;
  font-size: 1.11111em;
}
.box-icons {
  margin: 0 -12px;
}

.box-icons:after {
  clear: both;
  content: '';
  display: table;
}

.box-icons__item {
  float: left;
  margin-bottom: 22px;
  padding: 0 12px;
  width: 100%;
}

@media (min-width: 480px) {
  .box-icons__item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .box-icons__item {
    width: 33.33333333%;
  }
}

.box-icons__image {
  margin-bottom: 10px;
}

.box-icons__title {
  font-size: 1.22222em;
  line-height: 1.21em;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.box-icons__title {
  color: #006d8c;
}

.box-icons .most-read-pages {
  margin-bottom: 0;
  padding-top: 0;
  text-align: left;
}

.box-icons .most-read-pages:after {
  clear: both;
  content: '';
  display: table;
}

.box-icons .most-read-pages__item {
  clear: both;
  float: left;
  margin: 0 0 2px;
}
.coloured-infobox {
  margin: 0 -17.5px;
}

.coloured-infobox:after {
  clear: both;
  content: '';
  display: table;
}

.coloured-infobox__item {
  width: 33.33333333%;
  float: left;
  padding: 0 17.5px;
}

.coloured-infobox__link {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  display: block;
  min-height: 160px;
  padding: 24px 1em;
  position: relative;
}

.coloured-infobox__content {
  color: #000000;
  font-weight: normal;
}

.coloured-infobox__icon {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: 5px;
  height: 95px;
  opacity: 0.1;
  position: absolute;
  right: 5px;
  width: 130px;
  z-index: 1;
}
.contact {
  background: none repeat scroll 0 0 white;
  padding: 28px;
}

.contact > div:nth-of-type(1) {
  margin-bottom: 1.33333em;
}

.contact .contact__content {
  overflow: hidden;
}

.contact .contact__content h3 {
  font-size: 1.11111em;
  font-weight: bold;
  margin-bottom: 0.27778em;
  text-transform: none;
}

.contact .address {
  margin: 0 42px 1em;
}

.contact .telephone {
  margin: 0.5em 28px;
}

.filter .chosen-container {
  font-size: 0.88889em;
  max-width: 100%;
}

.filter .chosen-container .chosen-choices,
.filter .chosen-container .chosen-drop {
  background: #fff;
  border: 1px solid #cbd0d3;
  padding: 0;
}

.filter .chosen-container .chosen-choices {
  line-height: 39px;
}

.filter .chosen-container .chosen-choices li.search-field {
  margin: 0;
}

.filter .chosen-container .chosen-choices li.search-field input.default {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #626262;
  font-size: 0.88889em;
  font-style: italic;
  font-weight: bold;
  padding: 0.5625em;
  width: 100%;
  font-family: "Gill Sans W04", "Gill Sans", serif;
  text-transform: uppercase;
  border: 1px solid #fff !important;
  min-width: 300px;
  min-height: 2.2em !important;
}

.filter .chosen-container .chosen-choices li.search-choice {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none;
  border: 0;
  box-shadow: none;
  line-height: 1em;
  margin: 5px;
  padding: 0.3em 2.5em 0.3em 1em;
  text-transform: uppercase;
}

.filter .chosen-container .chosen-drop li.active-result {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 0.6em 2.5em 0.6em 1em;
  text-transform: uppercase;
}

.filter .chosen-container .chosen-drop li.active-result.highlighted {
  background: #ebebeb none repeat scroll 0 0;
  color: #444444;
}
.image-link {
  margin: 0 -18px;
}

.image-link:after {
  clear: both;
  content: '';
  display: table;
}

.image-link__item {
  padding: 0 18px;
  width: 33.33333333%;
  float: left;
}

.image-link__content {
  position: relative;
}

.image-link__single {
  line-height: 0;
}

.image-link__info {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  background: #000000;
  bottom: 0;
  display: block;
  min-height: 82px;
  padding: 12px 12px 46px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.image-link__info a {
  color: #ffffff;
}

.kkdk-menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 59em;
  padding-bottom: 0 !important;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  position: relative;
}

.kkdk-menu:after {
  clear: both;
  content: "";
  display: table;
}

.kkdk-menu .kkdk-menu__info {
  float: left;
  margin-right: 0.84034%;
  width: 66.3866%;
  padding-bottom: 28px;
}

.kkdk-menu .kkdk-menu__description {
  font-size: 1.22222em;
  line-height: 1.4em;
  margin-top: 5px;
}

.kkdk-menu .kkdk-menu__image {
  bottom: 0;
  float: right;
  margin-right: 0;
  position: absolute;
  right: 0;
  width: 32.7731%;
  margin-top: -28px;
}
.list-image {
  margin: 0 -2.5px;
}

.list-image:after {
  clear: both;
  content: '';
  display: table;
}

.list-image a {
  float: left;
  padding: 0 2.5px 5px;
}

.list-image a img {
  height: 193px;
  width: 193px;
}
.list-local-content {
  margin: 0 -17.5px;
}

.list-local-content:after {
  clear: both;
  content: '';
  display: table;
}

.list-local-content__item {
  float: left;
  margin-bottom: 1em;
  padding: 0 17.5px;
  width: 33.33333333%;
}

.list-local-content__item-inner {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  padding: 2.5em 1em 1.5em;
}

.list-local-content__item-inner:hover {
  background-color: #f4f4f4;
}

.list-local-content__image img {
  width: 100%;
}

.list-local-content__title {
  font-size: 1.33333em;
  margin-bottom: 0.8333333333333333em;
  text-transform: uppercase;
}

.list-local-content__title a {
  color: #006d8c;
  display: block;
}

.list-local-content__title a:hover {
  color: #181813;
}

.list-local-content__body {
  font-size: 0.88889em;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.list-local-content__body:hover {
  color: #15819d;
}

@media (min-width: 768px) {
  .list-local-content__item-inner {
    padding-: 3.5em 2em 1.5em;
  }
}
.list-without-bullets > ul {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-without-bullets > ul > li {
  list-style: none;
}

.list-without-bullets > ul > li:after,
> .list-without-bullets > ul > li:before,
.list-without-bullets > ul > li > a:after,
.list-without-bullets > ul > li > a:before {
  content: '';
}
.menu-vertical__title {
  display: none;
}
.most-read-pages {
  margin-bottom: 28px;
  text-align: center;
  padding-top: 12px;
}

.most-read-pages__title {
  font-size: 1.11111em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.most-read-pages__item {
  display: inline-block;
  font-size: 0.83333em;
  font-style: italic;
  font-weight: 700;
  margin-right: 1px;
}

.most-read-pages__link {
  background-color: #e1ecef;
  display: block;
  padding: 5px;
  line-height: 1.2em;
}
.pager {
  height: auto;
}

.pager:after {
  clear: both;
  content: '';
  display: table;
}
.post {
  margin: 0 -4px;
}

.post:after {
  clear: both;
  content: '';
  display: table;
}

.post__item {
  padding: 0 4px;
  width: 33.33333333%;
  float: left;
}

.post__content {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  height: 201px;
  overflow: auto;
  padding: 28px;
}

.post__created {
  color: #626262;
  margin-bottom: 21px;
}

.post .tags {
  margin: 1em 0;
}

.related-files {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  margin-bottom: 28px;
  padding: 28px;
}

.related-files__title {
  margin-bottom: 18px;
  font-size: 1.33333em;
  line-height: 1.15em;
}

.related-files__type {
  margin-bottom: 2px;
}
.search-form {
  max-width: 670px;
  position: relative;
  width: 100%;
}

.search-form .form-item {
  width: 100%;
  padding-right: 155px;
}

.search-form .form-text {
  background-image: url("http://www.kk.dk/sites/all/themes/kkms_theme/images/icon-search-flip.png");
  background-position: 0.55556em 50%;
  background-repeat: no-repeat;
  font-size: 1em;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 2.125em;
}

.search-form .form-submit {
  font-size: 1em;
  line-height: 39px;
  margin-right: 0;
  padding: 0 0.5em;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 140px;
}


.tags {
  font-size: 0.83333em;
  font-style: italic;
  font-weight: 700;
}