.box-icons {
  margin: 0 -12px;
}

.box-icons:after {
  clear: both;
  content: '';
  display: table;
}

.box-icons__item {
  float: left;
  margin-bottom: 22px;
  padding: 0 12px;
  width: 33.333%;
}

.box-icons__image {
  margin-bottom: 10px;
}

.box-icons__title {
  font-size: 1.22222em;
  line-height: 1.21em;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.box-icons__title {
  color: #006d8c;
}

.box-icons .most-read-pages {
  margin-bottom: 0;
  padding-top: 0;
  text-align: left;
}

.box-icons .most-read-pages:after {
  clear: both;
  content: '';
  display: table;
}

.box-icons .most-read-pages__item {
  clear: both;
  float: left;
  margin: 0 0 2px;
}
.most-read-pages {
  margin-bottom: 28px;
  text-align: center;
  padding-top: 12px;
}

.most-read-pages__title {
  font-size: 1.11111em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.most-read-pages__item {
  display: inline-block;
  font-size: 0.83333em;
  font-style: italic;
  font-weight: 700;
  margin-right: 1px;
}

.most-read-pages__link {
  background-color: #e1ecef;
  display: block;
  padding: 5px;
  line-height: 1.2em;
}
.tag {
  font-size: 0.83333em;
  font-style: italic;
  font-weight: 700;
}