/*
Error: Invalid CSS after "$import ": expected ":", was ""../bower_compo..."
        on line 1 of d:/congviec/xampp/htdocs/gp/project/kkdkstyleguide/sass/thanh.scss

1: $import "../bower_components/susy/sass/susy";
2: 
3: // $desktop:
4: $mq-bp-desktop-plus: 960px;
5: $mq-bp-desktop-plus-minus: 959px;
6: $mq-bp-desktop: 768px;

Backtrace:
d:/congviec/xampp/htdocs/gp/project/kkdkstyleguide/sass/thanh.scss:1
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:1162:in `expected'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:1098:in `expected'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:1093:in `tok!'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:602:in `variable'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:657:in `block_child'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:647:in `block_contents'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:117:in `stylesheet'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:42:in `parse'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/engine.rb:393:in `_to_tree'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/engine.rb:268:in `render'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `each'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:328:in `block in watch'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/vendor/listen/lib/listen/listener.rb:252:in `call'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/vendor/listen/lib/listen/listener.rb:252:in `on_change'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
c:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.14/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$import \": expected \":\", was \"\"../bower_compo...\"\A         on line 1 of d:/congviec/xampp/htdocs/gp/project/kkdkstyleguide/sass/thanh.scss\A \A 1: $import \"../bower_components/susy/sass/susy\";\A 2: \A 3: // $desktop:\A 4: $mq-bp-desktop-plus: 960px;\A 5: $mq-bp-desktop-plus-minus: 959px;\A 6: $mq-bp-desktop: 768px;"; }
