<div class="menu-vertical">

                <h2 class="menu-vertical__title">Menu</h2>

                <div class="menu-block-second_level">
                  <ul class="menu">
                    <li class="first last expanded"><a class="menu_icon active-trail" href="#">Tilladelser</a>
                      <div class="block-main-menu-description">Vi ønsker at det skal være nemt for dig som erhvervsdrivende at få de nødvendige tilladelser. Her finder du en oversigt over de tilladelser du kan søge i Københavns Kommune.</div>
                      <ul class="menu">
                        <li class="first"><a href="#">Parkering</a>
                          <div class="block-main-menu-description">Virksomheder i København kan købe en erhvervslicens eller et erhvervsperiodekort, hvis de opfylder kriterierne.</div>
                        </li>
                        <li class=""><a href="#">Arbejde på vejene</a>
                          <div class="block-main-menu-description">Her har vi samlet information til dig, der arbejder med og på byens veje, pladser og parker.</div>
                        </li>
                        <li class=""><a href="#">Miljø</a>
                          <div class="block-main-menu-description">Her kan du læse mere om, hvordan du søger om miljøtilladelser, der har med din virksomhed at gøre.</div>
                        </li>
                        <li class=""><a href="#">Arrangementer</a>
                          <div class="block-main-menu-description">Du kan låne kommunens parker, kirkegårde, naturområder, veje og pladser til alle slags åbne arrangementer.</div>
                        </li>
                        <li class="active"><a class="active-trail active" href="#">Byggeri</a>
                          <div class="block-main-menu-description">Her kan du finde de relevante blanketter og notater, du kan få brug for ved større byggerier i Københavns Kommune</div>
                          <ul class="menu">
                            <li class="first"><a href="#">Jord</a>
                              <div class="block-main-menu-description">Jord ved byggeri og anlæg</div>
                            </li>
                            <li class=""><a href="#">Oppumpning og afledning af vand</a>
                              <div class="block-main-menu-description">Håndtering af vand ved byggeri og anlæg</div>
                            </li>
                            <li class=""><a href="#">Kloak og afløb</a>
                            </li>
                            <li class=""><a href="#">Byggeaffald</a>
                            </li>
                            <li class="last"><a href="#">Byggearbejde</a>
                              <div class="block-main-menu-description">Byggearbejde udenfor normal arbejdstid. Facaderenovering</div>
                            </li>
                          </ul>
                        </li>
                        <li class=""><a href="#">Gadesalg</a>
                          <div class="block-main-menu-description">Du kan få tilladelse til gadesalg fra en fast stadeplads, mobilt gadesalg på kommunale pladser og veje eller cykeltaxi.</div>
                        </li>
                        <li class=""><a href="#">Vareudstillinger, skilte og reklamer</a>
                          <div class="block-main-menu-description">Her kan du søge tilladelse til stilladsreklamer, reklameskilte og vareudstillinger foran butikker og på bygninger</div>
                        </li>
                        <li class=""><a href="#">Udendørsservering</a>
                          <div class="block-main-menu-description">Det er gratis at have udendørsservering foran din cafe eller restaurant men du skal søge om tilladelse først.</div>
                        </li>
                        <li class="last"><a href="#">Filmoptagelse</a>
                          <div class="block-main-menu-description">Her kan du søge om tilladelse til filmoptagelse udendørs i København.</div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
