<aside class="node node-stepbox-tabs tabs" >
  <div class="field field-name-field-steps field-type-field-collection field-label-hidden">
    <div class="field-group-htabs-wrapper "><h2 class="element-invisible">Horizontal tabs</h2><div class="horizontal-tabs clearfix"><ul class="horizontal-tabs-list"><li tabindex="-1" class="horizontal-tab-button horizontal-tab-button-0 first selected"><a href="#fcg--2"><strong>1. Blanket om selvforsørgelse</strong><span class="element-invisible" id="active-horizontal-tab">(aktiv fane)</span></a></li><li tabindex="-1" class="horizontal-tab-button horizontal-tab-button-1"><a href="#fcg-3"><strong>2. Indsend blanket</strong></a></li><li tabindex="-1" class="horizontal-tab-button horizontal-tab-button-2 last"><a href="#fcg-4"><strong>3. Få svar</strong></a></li></ul><div class="horizontal-tabs-panes horizontal-tabs-processed"><fieldset id="fcg--2" class="form-wrapper horizontal-tabs-pane"><div class="fieldset-wrapper">
  <div class="field field-name-field-teaser field-type-text-long field-label-hidden tx-teaser">
    Blanket om selvforsørgelse finder du til sidst i ansøgningen om dansk statsborgerskab  </div>

  <div class="field field-name-field-text field-type-text-long field-label-hidden tx-content">
    <p>Du finder <a href="http://www.justitsministeriet.dk/arbejdsomr%C3%A5der/statsborgerskab/udenlandske-statsborgere/ans%C3%B8gningsskema">ansøgningsskemaet til dansk statsborgerskab på justitsministeriets hjemmeside</a>.&nbsp;</p>
<p>Du skal printe ansøgningsskemaet og derefter udfylde Blanketten om selvforsørgelse i hånden. Du kan derefter vælge at indsende blanketten til os via almindelig post eller digitalt.</p>
  </div>
</div></fieldset>
<fieldset id="fcg-3" class="form-wrapper horizontal-tabs-pane horizontal-tab-hidden">
<div class="fieldset-wrapper">
  <div class="field field-name-field-teaser field-type-text-long field-label-hidden tx-teaser">
    Indsend blanketten om selvforsørgelse til Ydelsesservice København  </div>

  <div class="field field-name-field-text field-type-text-long field-label-hidden tx-content">
    <p>Du kan vælge at indsende Blanketten om selvforsørgelse til Ydelsesservice København enten via:</p>
<ol><li>Almindelig post til:<br>
	Ydelsesservice København<br>
	Kontanthjælp<br>
	Postboks 210<br>
	1502 København V<br>
	&nbsp;</li>
<li><a href="https://minside.borger.dk/post?function=inbox&amp;mailboxid=11088">Digital post</a>&nbsp;- Hav dit NemID klar.<br>
	&nbsp;</li>
<li>E-mail på&nbsp;<a href="mailto:kontanthjaelp@bif.kk.dk">kontanthjaelp@bif.kk.dk</a>, hvis du skriver til os via vores e-mail,&nbsp;skal du være opmærksom på, at en almindelig e-mail ikke er sikker.&nbsp;Skal du sende personfølsomme oplysninger til os, opfordrer vi dig til at bruge Digital Post.</li>
</ol>  </div>
</div></fieldset>
  <fieldset id="fcg-4" class="form-wrapper horizontal-tabs-pane horizontal-tab-hidden">
    <div class="fieldset-wrapper">
      <div class="field field-name-field-teaser field-type-text-long field-label-hidden tx-teaser">
        Du får udtalelsen fra kommunen indenfor tre uger.</div>

      <div class="field field-name-field-text field-type-text-long field-label-hidden tx-content">
        <p>Læs mere om reglerne for at få dansk statsborgerskab på <a href="https://www.nyidanmark.dk/da-dk">nyidanmark.dk</a></p>
      </div>
    </div>
  </fieldset>
</div></div></div>  </div>
</aside>