@import '../helper.less';

@color-box-icon-title: #006d8c;

.box-icons {
  .clearleft;

  &__item {
    float: left;
    margin-bottom: 22px;
    padding: 0 12px;
    width: 100%;

    .responsiveMin(@mq-bp-tablet-plus; {
      .span-columns(2);
    });

    .responsiveMin(@mq-bp-desktop; {
      .span-columns(3);
    });
  }

  &__image {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 1.22222em;
    line-height: 1.21em;
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  &__title {
    color: @color-box-icon-title;
  }

  & .most-read-pages {
    .clearleft;

    margin-bottom: 0;
    padding-top: 0;
    text-align: left;

    &__item {
      clear: both;
      float: left;
      margin: 0 0 2px;
    }
  }
}
