<div class="service">
	<div class="service__title">
	  Meld flytning  </div>

	<div class="service__content">For at melde flytning, skal du logge på med NemID.  </div>

	<div class="service__link">
	  <a onclick="$netminers.push(['postOther','Selvbetjeningsbanner/Udfyld_ægteskabserklæring_og ønsk_et_vielsessted']);" href="https://notuseborger.scandihealth.net/general/eborger.aspx?kommuneid=101&amp;ydelse=F">https://notuseborger.scandihealth.net/general/eborger.aspx?kommuneid=101&amp;ydelse=...</a>
	</div>
</div>