<div class="field field-name-field-service-provided field-type-field-collection field-label-hidden">
<div class="field field-name-field-title-service-provided field-type-text field-label-hidden">
  Meld flytning  </div>

<div class="field field-name-field-teaser-service-provided field-type-text-long field-label-hidden">
  For at melde flytning, skal du logge på med NemID.  </div>

<div class="field field-name-field-url-or-file field-type-link-field field-label-hidden">
  <a onclick="$netminers.push(['postOther','Selvbetjeningsbanner/Udfyld_ægteskabserklæring_og ønsk_et_vielsessted']);" href="https://notuseborger.scandihealth.net/general/eborger.aspx?kommuneid=101&amp;ydelse=F">https://notuseborger.scandihealth.net/general/eborger.aspx?kommuneid=101&amp;ydelse=...</a>  </div>
</div>