@font-face {
  font-family: "icomoon";
  src: url("../../basetheme/fonts/icomoon.eot");
  src: url("../../basetheme/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../../basetheme/fonts/icomoon.woff") format("woff"), url("../../basetheme/fonts/icomoon.ttf") format("truetype"), url("../../basetheme/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.tag {
  font-size: 0.83333em;
  font-style: italic;
  font-weight: bold;
}
