<div class="intro-with-list-link">
  <div class="tx-teaser">
  Afmeld din olietank eller tjek om der er olietank på din grund. Se hvordan du etablerer en ny olietank.
  </div>
  <div class="tx-content">
    <h3>
        <a href="http://www.kk.dk/node/10173">Etablering eller udskifter af olietank</a>
    </h3>
    <h3>
        <a href="http://www.kk.dk/node/10167">Kontrol af store olietanke over 6.000 liter&nbsp;</a>
    </h3>
    <h3>
        <a href="http://www.kk.dk/node/10170">Sløjfning og bortskaffelse af olietank</a>
    </h3>
    <h3>
        <a href="http://www.kk.dk/node/10169">Spild fra olietank</a>
    </h3>
  </div>
</div>
