{# color.twig #}
{% extends "includes/layout.twig" %}
{% block color %}
<div class="component--item">
  <h2 class="component--title">Main color</h2>
  <div class="component--demo">
    <label>Primary Color</label>
    <div class="styleguide-color" style="background: #007ea4;">#007ea4</div>
    <hr>
    <label>Default text color</label>
    <div class="styleguide-color" style="background: #444444;">#444444</div>
    <hr>
    <label>Default link color</label>
    <div class="styleguide-color" style="background: #007ea4;">#007ea4</div>
    <hr>
    <label>Default button color</label>
    <div class="styleguide-color" style="background: #007ea4;">#007ea4</div>
    <hr>
    <label>Default button hover color</label>
    <div class="styleguide-color" style="background: #181313;">#181313</div>
    <hr>
    <label>Default gray color</label>
    <div class="styleguide-color" style="background: #EBEBEB;">#ebebeb</div>
  </div>
</div>
{% endblock %}
