{# components.twig #}
{% extends "includes/layout.twig" %}

{% block components %}

	{% set list_components = [
    {
      'id':'boxicon',
      'name': 'Box Icon'
    },
    {
      'id':'most-read-pages',
      'name': 'Most Read Pages'
    },
    {
      'id':'tags',
      'name': 'Tags'
    },
    {
      'id':'coloured-infobox',
      'name': 'Info Box'
    },
    {
      'id':'post',
      'name': 'Post'
    },
    {
      'id':'image-link',
      'name': 'Image Link'
    },
    {
      'id':'pager',
      'name': 'Pager'
    },
    {
      'id':'banner',
      'name': 'Banner'
    },
    {
      'id':'social',
      'name': 'Social'
    },
    {
      'id':'search',
      'name': 'Search'
    },
    {
      'id':'filter',
      'name': 'Filter'
    },
    {
      'id':'list-without-bullets',
      'name': 'List without bullets'
    },
    {
      'id':'box-list-without-bullets',
      'name': 'Box list without bullets'
    },
    {
      'id':'menu-vertical',
      'name': 'Menu vertical'
    },
    {
      'id':'accordion',
      'name': 'Accordion'
    }
	] %}

  {% for component in list_components %}
  	<div class="feb">
      <h2>{{ component.name }}</h2>
      <div class="component--demo">
      {% include "components/" ~ component.id ~ "/" ~ component.id ~ ".html" %}
      </div>
      <div class="component--source">
        <div class="component--html element-invisible">
          <pre  class="brush: php">
            {% include "components/" ~ component.id ~ "/" ~ component.id ~ ".html" %}
          </pre>
        </div>
        <div class="component--css element-invisible">
          <pre class="brush: css">
          {% spaceless %}
            {% include "components/" ~ component.id ~ "/" ~ component.id ~ ".css" %}
          {% endspaceless %}
          </pre>
        </div>
      </div>
  	</div>
  {% endfor %}

{% endblock %}
