{# components.twig #}
{% extends "includes/layout.twig" %}

{% block components %}

	{% set list_components = [
    {
      'id':'boxicon',
      'name': 'Box Icon'
    },
    {
      'id':'most-read-pages',
      'name': 'Most Read Pages'
    },
    {
      'id':'tags',
      'name': 'Tags'
    },
    {
      'id':'coloured-infobox',
      'name': 'Info Box'
    },
    {
      'id':'post',
      'name': 'Post'
    },
    {
      'id':'image-link',
      'name': 'Image Link'
    },
    {
      'id':'pager',
      'name': 'Pager'
    },
    {
      'id':'banner',
      'name': 'Banner'
    },
    {
      'id':'social',
      'name': 'Social'
    },
    {
      'id':'search',
      'name': 'Search'
    },
    {
      'id':'filter',
      'name': 'Filter'
    },
    {
      'id':'better-cph-limited',
      'name': 'Better Cph Limited'
    },
    {
      'id':'kkdk-menu',
      'name': 'Kkdk Menu'
    },
    {
      'id':'contact',
      'name': 'Contact'
    },
    {
      'id':'list-without-bullets',
      'name': 'List without bullets'
    },
    {
      'id':'box-list-without-bullets',
      'name': 'Box list without bullets'
    },
    {
      'id':'menu-vertical',
      'name': 'Menu vertical'
    },
    {
      'id':'accordion',
      'name': 'Accordion'
    },
    {
      'id':'related-files',
      'name': 'Related files'
    },
    {
      'id':'quote',
      'name': 'Quote'
    },
    {
      'id':'service',
      'name': 'Service'
    },
    {
      'id':'factbox',
      'name': 'Factbox'
    },
    {
      'id':'table',
      'name': 'Table'
    },
    {
      'id':'tabs',
      'name': 'Tabs'
    },
    {
      'id':'flexslider',
      'name': 'Flexslider'
    },
    {
      'id':'bef-link',
      'name': 'Better Exposed Filters Link'
    },
    {
      'id':'list-image',
      'name': 'List image'
    },
    {
      'id':'file-video',
      'name': 'File video'
    },
    {
      'id':'intro-with-list-link',
      'name': 'Intro text with list link'
    },
    {
      'id':'list-icon',
      'name': 'list-icon'
    }
	] %}

  {% for component in list_components %}
    <div class="component--item" id="{{component.id}}">
      <h2 class="component--title">{{ component.name }}</h2>
      <div class="component--demo">
      {% include "components/" ~ component.id ~ "/" ~ component.id ~ ".html" %}
      </div>
      <button class="show-code">Show/Hide Code</button>
      <div class="component--source element-invisible">
        <div class="component--html">
          <h2 class="component--source--title">Markup</h2>
          <pre  class="brush: php">
            {% include "components/" ~ component.id ~ "/" ~ component.id ~ ".html" %}
          </pre>
        </div>
        <div class="component--css">
          <h2 class="component--source--title">Style</h2>
          <pre class="brush: css">
          {% spaceless %}
            {% include "components/" ~ component.id ~ "/" ~ component.id ~ ".css" %}
          {% endspaceless %}
          </pre>
        </div>
        <button class="hide-code">Hide Code</button>
      </div>
    </div>
  {% endfor %}

  <div class="component--list">
    <div class="component--list--header">
      <h2 class="component--title">Components List</h2>
      <a title="Show List" class="show-list">+</a>
      <a title="Hide List"   style="display:none" class="hide-list">-</a>
    </div>
    <div class="component--list--content">
      <ul>
        {% for component in list_components %}
          <li class="component--list--item"><a href="#{{component.id}}">{{ component.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
