{# index.twig #}
{% extends "includes/layout.twig" %}
{% block grid %}

<div class="component--item">
  <h2 class="component--title">Layout 3 columns</h2>
  <div class="component--demo">
  	<div class="layout-3col">
		  <div class="layout-3col__col-x">
		    The <code>.layout-3col__col-x</code> grid item.
		  </div>
		  <div class="layout-3col__col-x">
		    The <code>.layout-3col__col-x</code> grid item.
		  </div>
		  <div class="layout-3col__col-x">
		    The <code>.layout-3col__col-x</code> grid item.
		  </div>
		  <div class="layout-3col__col-x">
		    The <code>.layout-3col__col-x</code> grid item.
		    </div>
		  <div class="layout-3col__col-x">
		    The <code>.layout-3col__col-x</code> grid item.
		    </div>
		  <div class="layout-3col__col-x">
		    The <code>.layout-3col__col-x</code> grid item.
		    </div>
		  <div class="layout-3col__col-x">
		    The <code>.layout-3col__col-x</code> grid item.
		    </div>
		  <div class="layout-3col__col-x">
		    The <code>.layout-3col__col-x</code> grid item.
		  </div>
		  <div class="layout-3col__col-x">
		    The <code>.layout-3col__col-x</code> grid item.
		  </div>
		</div>
  </div>
  <button class="show-code">Show/Hide Code</button>
  <div class="component--source element-invisible">
    <div class="component--html">
      <h2 class="component--source--title">Markup</h2>
      <pre  class="brush: php">
        <div class="layout-3col">
				  <div class="layout-3col__col-x">
				    The <code>.layout-3col__col-x</code> grid item.
				  </div>
				  <div class="layout-3col__col-x">
				    The <code>.layout-3col__col-x</code> grid item.
				  </div>
				  <div class="layout-3col__col-x">
				    The <code>.layout-3col__col-x</code> grid item.
				  </div>
				  <div class="layout-3col__col-x">
				    The <code>.layout-3col__col-x</code> grid item.
				    </div>
				  <div class="layout-3col__col-x">
				    The <code>.layout-3col__col-x</code> grid item.
				    </div>
				  <div class="layout-3col__col-x">
				    The <code>.layout-3col__col-x</code> grid item.
				    </div>
				  <div class="layout-3col__col-x">
				    The <code>.layout-3col__col-x</code> grid item.
				    </div>
				  <div class="layout-3col__col-x">
				    The <code>.layout-3col__col-x</code> grid item.
				  </div>
				  <div class="layout-3col__col-x">
				    The <code>.layout-3col__col-x</code> grid item.
				  </div>
				</div>
      </pre>
    </div>
    <div class="component--css">
      <h2 class="component--source--title">Style</h2>
      <pre class="brush: css">
      css
      </pre>
    </div>
    <button class="hide-code">Hide Code</button>
  </div>
</div>

<div class="component--item">
  <h2 class="component--title">Layout 4 columns</h2>
  <div class="component--demo">
		<div class="layout-4col">
		  <div class="layout-4col__col-x">
		    The <code>.layout-4col__col-x</code> grid item.
		  </div>
		  <div class="layout-4col__col-x">
		    The <code>.layout-4col__col-x</code> grid item.
		  </div>
		  <div class="layout-4col__col-x">
		    The <code>.layout-4col__col-x</code> grid item.
		    </div>
		  <div class="layout-4col__col-x">
		    The <code>.layout-4col__col-x</code> grid item.
		    </div>
		  <div class="layout-4col__col-x">
		    The <code>.layout-4col__col-x</code> grid item.
		    </div>
		  <div class="layout-4col__col-x">
		    The <code>.layout-4col__col-x</code> grid item.
		    </div>
		  <div class="layout-4col__col-x">
		    The <code>.layout-4col__col-x</code> grid item.
		    </div>
		  <div class="layout-4col__col-x">
		    The <code>.layout-4col__col-x</code> grid item.
		  </div>
		</div>
  </div>
  <button class="show-code">Show/Hide Code</button>
  <div class="component--source element-invisible">
    <div class="component--html">
      <h2 class="component--source--title">Markup</h2>
      <pre  class="brush: php">
				<div class="layout-4col">
				  <div class="layout-4col__col-x">
				    The <code>.layout-4col__col-x</code> grid item.
				  </div>
				  <div class="layout-4col__col-x">
				    The <code>.layout-4col__col-x</code> grid item.
				  </div>
				  <div class="layout-4col__col-x">
				    The <code>.layout-4col__col-x</code> grid item.
				    </div>
				  <div class="layout-4col__col-x">
				    The <code>.layout-4col__col-x</code> grid item.
				    </div>
				  <div class="layout-4col__col-x">
				    The <code>.layout-4col__col-x</code> grid item.
				    </div>
				  <div class="layout-4col__col-x">
				    The <code>.layout-4col__col-x</code> grid item.
				    </div>
				  <div class="layout-4col__col-x">
				    The <code>.layout-4col__col-x</code> grid item.
				    </div>
				  <div class="layout-4col__col-x">
				    The <code>.layout-4col__col-x</code> grid item.
				  </div>
				</div>
      </pre>
    </div>
    <div class="component--css">
      <h2 class="component--source--title">Style</h2>
      <pre class="brush: css">
      css
      </pre>
    </div>
    <button class="hide-code">Hide Code</button>
  </div>
</div>

<div class="component--item">
  <h2 class="component--title">Layout 5 columns</h2>
  <div class="component--demo">
		<div class="layout-5col">
		  <div class="layout-5col__col-x">
		    The <code>.layout-5col__col-x</code> grid item.
		  </div>
		  <div class="layout-5col__col-x">
		    The <code>.layout-5col__col-x</code> grid item.
		  </div>
		  <div class="layout-5col__col-x">
		    The <code>.layout-5col__col-x</code> grid item.
		    </div>
		  <div class="layout-5col__col-x">
		    The <code>.layout-5col__col-x</code> grid item.
		    </div>
		  <div class="layout-5col__col-x">
		    The <code>.layout-5col__col-x</code> grid item.
		    </div>
		  <div class="layout-5col__col-x">
		    The <code>.layout-5col__col-x</code> grid item.
		    </div>
		  <div class="layout-5col__col-x">
		    The <code>.layout-5col__col-x</code> grid item.
		    </div>
		  <div class="layout-5col__col-x">
		    The <code>.layout-5col__col-x</code> grid item.
		  </div>
		  <div class="layout-5col__col-x">
		    The <code>.layout-5col__col-x</code> grid item.
		    </div>
		  <div class="layout-5col__col-x">
		    The <code>.layout-5col__col-x</code> grid item.
		  </div>
		</div>
  </div>
  <button class="show-code">Show/Hide Code</button>
  <div class="component--source element-invisible">
    <div class="component--html">
      <h2 class="component--source--title">Markup</h2>
      <pre  class="brush: php">
				<div class="layout-5col">
				  <div class="layout-5col__col-x">
				    The <code>.layout-5col__col-x</code> grid item.
				  </div>
				  <div class="layout-5col__col-x">
				    The <code>.layout-5col__col-x</code> grid item.
				  </div>
				  <div class="layout-5col__col-x">
				    The <code>.layout-5col__col-x</code> grid item.
				    </div>
				  <div class="layout-5col__col-x">
				    The <code>.layout-5col__col-x</code> grid item.
				    </div>
				  <div class="layout-5col__col-x">
				    The <code>.layout-5col__col-x</code> grid item.
				    </div>
				  <div class="layout-5col__col-x">
				    The <code>.layout-5col__col-x</code> grid item.
				    </div>
				  <div class="layout-5col__col-x">
				    The <code>.layout-5col__col-x</code> grid item.
				    </div>
				  <div class="layout-5col__col-x">
				    The <code>.layout-5col__col-x</code> grid item.
				  </div>
				  <div class="layout-5col__col-x">
				    The <code>.layout-5col__col-x</code> grid item.
				    </div>
				  <div class="layout-5col__col-x">
				    The <code>.layout-5col__col-x</code> grid item.
				  </div>
				</div>
      </pre>
    </div>
    <div class="component--css">
      <h2 class="component--source--title">Style</h2>
      <pre class="brush: css">
      css
      </pre>
    </div>
    <button class="hide-code">Hide Code</button>
  </div>
</div>
{% endblock %}
