{# index.twig #}
{% extends "includes/layout.twig" %}
{% block grid %}

<div class="layout-3col">
  <div class="layout-3col__col-x">
    The <code>.layout-3col__col-x</code> grid item.
  </div>
  <div class="layout-3col__col-x">
    The <code>.layout-3col__col-x</code> grid item.
  </div>
  <div class="layout-3col__col-x">
    The <code>.layout-3col__col-x</code> grid item.
  </div>
  <div class="layout-3col__col-x">
    The <code>.layout-3col__col-x</code> grid item.
    </div>
  <div class="layout-3col__col-x">
    The <code>.layout-3col__col-x</code> grid item.
    </div>
  <div class="layout-3col__col-x">
    The <code>.layout-3col__col-x</code> grid item.
    </div>
  <div class="layout-3col__col-x">
    The <code>.layout-3col__col-x</code> grid item.
    </div>
  <div class="layout-3col__col-x">
    The <code>.layout-3col__col-x</code> grid item.
  </div>
  <div class="layout-3col__col-x">
    The <code>.layout-3col__col-x</code> grid item.
  </div>
</div>

<div class="layout-4col">
  <div class="layout-4col__col-x">
    The <code>.layout-4col__col-x</code> grid item.
  </div>
  <div class="layout-4col__col-x">
    The <code>.layout-4col__col-x</code> grid item.
  </div>
  <div class="layout-4col__col-x">
    The <code>.layout-4col__col-x</code> grid item.
    </div>
  <div class="layout-4col__col-x">
    The <code>.layout-4col__col-x</code> grid item.
    </div>
  <div class="layout-4col__col-x">
    The <code>.layout-4col__col-x</code> grid item.
    </div>
  <div class="layout-4col__col-x">
    The <code>.layout-4col__col-x</code> grid item.
    </div>
  <div class="layout-4col__col-x">
    The <code>.layout-4col__col-x</code> grid item.
    </div>
  <div class="layout-4col__col-x">
    The <code>.layout-4col__col-x</code> grid item.
  </div>
</div>

<div class="layout-5col">
  <div class="layout-5col__col-x">
    The <code>.layout-5col__col-x</code> grid item.
  </div>
  <div class="layout-5col__col-x">
    The <code>.layout-5col__col-x</code> grid item.
  </div>
  <div class="layout-5col__col-x">
    The <code>.layout-5col__col-x</code> grid item.
    </div>
  <div class="layout-5col__col-x">
    The <code>.layout-5col__col-x</code> grid item.
    </div>
  <div class="layout-5col__col-x">
    The <code>.layout-5col__col-x</code> grid item.
    </div>
  <div class="layout-5col__col-x">
    The <code>.layout-5col__col-x</code> grid item.
    </div>
  <div class="layout-5col__col-x">
    The <code>.layout-5col__col-x</code> grid item.
    </div>
  <div class="layout-5col__col-x">
    The <code>.layout-5col__col-x</code> grid item.
  </div>
  <div class="layout-5col__col-x">
    The <code>.layout-5col__col-x</code> grid item.
    </div>
  <div class="layout-5col__col-x">
    The <code>.layout-5col__col-x</code> grid item.
  </div>
</div>
{% endblock %}
