{% block header %}
<div class="sec sec-header">
  <div class="sec-inner">
    <a class="logo-page" rel="home" title="Hjem" href="/">
      <img alt="Københavns Kommune" src="http://www.kk.dk/sites/all/themes/kkdk_theme/logo.png">
    </a>
  </div>
</div>
<nav class="sec sec-menu">
  <div class="sec-inner menu-section-addings-processed">
    <ul class="menu-main menu clearfix" id="main-menu">
      <li class="menu-1908 active-trail first active">
        <a class="menu_icon menu-1908 active-trail active" href="index.html">KK Style Guide</a>
      </li>
      <li class="menu-1811"><a href="components.html">Components</a></li>
      <li class="menu-1834"><a href="elements.html">Base Elements</a></li>
      <li class="menu-1856"><a href="grid.html">Grid</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
