<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
<head>
	<title>Gulp</title>
	<link rel="stylesheet" type="text/css" href="basetheme/css/kkdk_styles.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  {% include "components/boxicon/boxicon.html" %}
  {% include "components/tags/tags.html" %}
</body>
</html>