{# index.twig #}
{% extends "includes/layout.twig" %}
{% block index %}
	<div class="pagetype" data-page="page-index"></div>
	<div class="pane-kkdk-menu-top-level-menu-item">
		<div class="kkdk-menu-info">
			<h2> KK Styleguide </h2>
			<div class="kkdk-menu-description">Københavns kommune har tilbud til ældre, borgere med handicap, med psykisk sygdom, udsatte børn, unge og familier og hjemløse</div>
		</div>
	</div>
{% endblock %}
