{# index.twig #}
{% extends "layout.twig" %}

{% block index %}

	{% set list_components = [
    'boxicon',
		'most-read-pages',
		'tags'
	] %}

  {% for component in list_components %}
  	<div class="feb">
  		{% include "components/" ~ component ~ "/" ~ component ~ ".html" %}
  	</div>
  {% endfor %}

{% endblock %}
