{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="description" content="A demo of how to use gulp-twig"/>
  <meta name="author" content="Simon de Turck"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>KK Styleguide</title>

	<link rel="stylesheet" type="text/css" href="basetheme/css/kkms.style.css">
	<link rel="stylesheet" type="text/css" href="basetheme/css/kkdk_styles.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>

<section>
    {% include "header.twig" %}
</section>
<section>
    {% block index %}{% endblock %}
</section>
</body>
</html>