{# index.twig #}
{% extends "includes/layout.twig" %}
{% block typography %}
	<div class="pagetype" data-page="page-typo"></div>
  <div class="pane-kkdk-menu-top-level-menu-item">
    <div class="kkdk-menu-info">
      <h2> Typography </h2>
      <div class="kkdk-menu-description">Københavns kommune har tilbud til ældre, borgere med handicap, med psykisk sygdom, udsatte børn, unge og familier og hjemløse</div>
    </div>
  </div>
	<div class="component--item">
    <h2 class="component--title">Main color</h2>
    <div class="component--demo">
			<label>Primary Color</label>
			<div class="styleguide-color" style="background: #007ea4;">#007ea4</div>
			<hr>
			<label>Default text color</label>
			<div class="styleguide-color" style="background: #444444;">#444444</div>
			<hr>
			<label>Default link color</label>
			<div class="styleguide-color" style="background: #007ea4;">#007ea4</div>
			<hr>
			<label>Default button color</label>
			<div class="styleguide-color" style="background: #007ea4;">#007ea4</div>
			<hr>
			<label>Default button hover color</label>
			<div class="styleguide-color" style="background: #181313;">#181313</div>
			<hr>
			<label>Default gray color</label>
			<div class="styleguide-color" style="background: #EBEBEB;">#ebebeb</div>
    </div>
	</div>

	<div class="component--item">
    <h2 class="component--title">Typography</h2>
    <div class="component--demo">
    	<h2 class="page-header">Headings</h2>
    	<hr>
    	<h1>h1. Bootstrap heading</h1>
			<h2>h2. Bootstrap heading</h2>
			<h3>h3. Bootstrap heading</h3>
			<h4>h4. Bootstrap heading</h4>
			<h5>h5. Bootstrap heading</h5>
			<h6>h6. Bootstrap heading</h6>
			<br>

			<h1><a href="#" title="H1 Link Hover">H1 Link</a></h1>
			<h2><a href="#" title="H2 Link Hover">H2 Link</a></h2>
			<h3><a href="#" title="H3 Link Hover">H3 Link</a></h3>
			<h4><a href="#" title="H4 Link Hover">H4 Link</a></h4>
			<h5><a href="#" title="H5 Link Hover">H5 Link</a></h4>
			<h6><a href="#" title="H6 Link Hover">H6 Link</a></h4>
			<br>

			<h2 class="page-header">Blockquotes</h2>
			<hr>
			<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				</blockquote>
    </div>
	</div>

	<div class="component--item">
    <h2 class="component--title">Table</h2>
    <div class="component--demo">
    	<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Table heading</th>
							<th>Table heading</th>
							<th>Table heading</th>
							<th>Table heading</th>
							<th>Table heading</th>
							<th>Table heading</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
						</tr>
					</tbody>
				</table>
			</div>
    </div>
	</div>

	<div class="component--item">
    <h2 class="component--title">Pagination</h2>
    <div class="component--demo">
    	<ul class="pager">
        <li class="pager-previous first"><span>&lt;</span>
        </li>
        <li class="pager-current"><span>1</span>
        </li>
        <li class="pager-item"><a href="#">2</a>
        </li>
        <li class="pager-item"><a href="#">3</a>
        </li>
        <li class="pager-item"><a href="#">4</a>
        </li>
        <li class="pager-item"><a href="#">5</a>
        </li>
        <li class="pager-ellipsis">…</li>
        <li class="pager-next"><a href="#">&gt;</a>
        </li>
        <li class="pager-last last"><a href="#">&gt;&gt;</a>
        </li>
      </ul>
    </div>
	</div>

	<div class="component--item">
    <h2 class="component--title">Form</h2>
    <div class="component--demo">
    	<form>
				<h2 class="page-header">Input text</h2>
				<hr>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" placeholder="Enter email" id="exampleInputEmail1" class="form-control">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" placeholder="Password" id="exampleInputPassword1" class="form-control">
				</div>
				<br>

				<h2 class="page-header">Input file</h2>
				<hr>
				<div class="form-group">
					<label for="exampleInputFile">File input</label>
					<input type="file" id="exampleInputFile">
					<p class="help-block">Example block-level help text here.</p>
				</div>
				<br>

				<h2 class="page-header">Textarea</h2>
				<hr>
				<textarea rows="3" class="form-control"></textarea>
				<br>
				<br>

				<h2 class="page-header">Checkbox &amp; Radio</h2>
				<hr>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Option one is this and that&mdash;be sure to include why it's great
					</label>
				</div>
				<div class="checkbox disabled">
					<label>
						<input type="checkbox" disabled="" value="">
						Option two is disabled
					</label>
				</div>
				<br>

				<div class="radio">
					<label>
						<input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
						Option one is this and that&mdash;be sure to include why it's great
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">
						Option two can be something else and selecting it will deselect option one
					</label>
				</div>
				<div class="radio disabled">
					<label>
						<input type="radio" disabled="" value="option3" id="optionsRadios3" name="optionsRadios">
						Option three is disabled
					</label>
				</div>
				<br>

				<h2 class="page-header">Select</h2>
				<hr>
				<select class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
				<br>
				<select class="form-control" multiple="">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
				<br>
				<br>
				<button class="button" type="submit" class="form-submit">Submit</button>
			</form>
    </div>
	</div>

{% endblock %}
