{# index.twig #}
{% extends "includes/layout.twig" %}
{% block typography %}

	<div class="component--item">
    <h2 class="component--title">Headings</h2>
    <div class="component--demo">
    	<h1>h1. Bootstrap heading</h1>
			<h2>h2. Bootstrap heading</h2>
			<h3>h3. Bootstrap heading</h3>
			<h4>h4. Bootstrap heading</h4>
			<h5>h5. Bootstrap heading</h5>
			<h6>h6. Bootstrap heading</h6>
    </div>
	</div>

	<h2 class="page-header">Headings</h2>
	<h1>h1. Bootstrap heading</h1>
	<h2>h2. Bootstrap heading</h2>
	<h3>h3. Bootstrap heading</h3>
	<h4>h4. Bootstrap heading</h4>
	<h5>h5. Bootstrap heading</h5>
	<h6>h6. Bootstrap heading</h6>
	</br>
	<h1><a href="#" title="H1 Link Hover">H2 Link</a></h1>
	<h2><a href="#" title="H2 Link Hover">H2 Link</a></h2>
	<h3><a href="#" title="H3 Link Hover">H3 Link</a></h3>
	<h4><a href="#" title="h3 Link Hover">H4 Link</a></h4>
{% endblock %}
