<div class="most-read-pages">
  <h2 class="most-read-pages__title">Mest læste sider</h2>
  <div class="most-read-pages__item"><a href="#" class="most-read-pages__link" title="English">English</a></div>
  <div class="most-read-pages__item"><a href="#" class="most-read-pages__link" title="English">English</a></div>
  <div class="most-read-pages__item"><a href="#" class="most-read-pages__link" title="English">English</a></div>
  <div class="most-read-pages__item"><a href="#" class="most-read-pages__link" title="English">English</a></div>
  <div class="most-read-pages__item"><a href="#" class="most-read-pages__link" title="English">English</a></div>
</div>
