.most-read-pages {
  margin-bottom: 28px;
  text-align: center;
  padding-top: 12px;
}
.most-read-pages__title {
  font-size: 1.11111em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.most-read-pages__item {
  display: inline-block;
  font-size: 0.83333em;
  font-style: italic;
  font-weight: 700;
  margin-right: 1px;
}
.most-read-pages__link {
  background-color: #e1ecef;
  display: block;
  padding: 5px;
  line-height: 1.2em;
}
