<div class="related-files">
  <h2 class="related-files__title">Document</h2>
  <div class="file__type tx-sec">
    <a href="#" type="application/pdf; length=516718" class="button download" target="_blank">
      <span aria-hidden="true" class="filetype-generic">fil</span>
      <span>Billedvifte af Borgerrepræsentationens medlemmer</span>
      <span class="element-invisible">.fil</span>
    </a>
  </div>
  <div class="file__type tx-sec">
    <a href="#" type="application/pdf; length=232927" class="button download" target="_blank">
      <span aria-hidden="true" class="filetype-pdf">pdf</span>
      <span>Koebenhavns Kommunes Styrelsesvedtaegt 23 januar 2014</span>
      <span class="element-invisible">.pdf</span>
    </a>
  </div>
  <div class="file__type tx-sec">
    <a href="#" type="application/pdf; length=269725" class="button download" target="_blank">
      <span aria-hidden="true" class="filetype-pdf">pdf</span>
      <span>Bemaerkninger til styrelsesvedtaegt for KK</span>
      <span class="element-invisible">.pdf</span>
    </a>
  </div>
  <div class="file__type tx-sec">
    <a href="#" type="application/pdf; length=40600" class="button download" target="_blank">
      <span aria-hidden="true" class="filetype-generic">fil</span>
      <span>Borgerepræsentationens forretningsorden</span>
      <span class="element-invisible">.fil</span>
    </a>
  </div>
</div>
