<aside class="factbox bl-element">
  <h2>Nyttig info</h2>
  <div class="tx-content">
		<ol>
			<li>
				<a title="Åbner i nyt vindue" target="_blank" href="http://um.dk/da/rejse-og-ophold/legalisering/apostillestemplet/apostillelande/">Legalisering: Apostille-lande</a>
			</li>
			<li>
				<a title="Åbner i nyt vindue" target="_blank" href="http://ast.dk/born-familie/aegteskab-og-skilsmisse/aegteskab/sporgsmal-svar">Civilstandsattester: Spørgsmål og svar</a>
			</li>
			<li>
				<a title="Åbner i nyt vindue" target="_blank" href="http://www.nyidanmark.dk/da-dk/ophold/visum/visumpligtige+lande/hvem_er_visumpligtige">Visumpligtige land</a>
			</li>
		</ol>
	</div>
</aside>