table {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  table {
    border-collapse: collapse;
    table-layout: fixed;
    overflow: none;
    display: table;
  }
}
table.tablefield {
  font-size: 0.88889em;
}
@media (min-width: 768px) {
  table.tablefield {
    font-size: 18px;
  }
}
