<div class="table">
  <table class="tablefield sticky-enabled tableheader-processed sticky-table" id="tablefield-0">
    <thead>
      <tr>
      <th class="row_0 col_0"><p>ETABLERINGS- STØTTE (2015)</p></th>
      <th class="row_0 col_1"><p>Ved udrejse </p></th>
      <th class="row_0 col_2"><p>Efter 1 år i  hjemlandet  </p></th>
      <th class="row_0 col_3"><p>I alt pr. person  </p></th> 
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td class="row_1 col_0"><p>Hvis du er over 18 år</p></td>
        <td class="row_1 col_1"><p>51.772 kr. </p></td>
        <td class="row_1 col_2"><p>77.658 kr. </p></td>
        <td class="row_1 col_3"><p>129.430 kr. </p></td>
      </tr>
      <tr class="even">
        <td class="row_2 col_0"><p>Hvis du er under 18 år   </p></td>
        <td class="row_2 col_1"><p>15.789 kr. </p></td>
        <td class="row_2 col_2"><p>23.684 kr. </p></td>
        <td class="row_2 col_3"><p>39.473 kr. </p></td>
      </tr>
      <tr class="odd">
        <td class="row_1 col_0"><p>Hvis du er over 18 år</p></td>
        <td class="row_1 col_1"><p>51.772 kr. </p></td>
        <td class="row_1 col_2"><p>77.658 kr. </p></td>
        <td class="row_1 col_3"><p>129.430 kr. </p></td>
      </tr>
      <tr class="even">
        <td class="row_2 col_0"><p>Hvis du er under 18 år   </p></td>
        <td class="row_2 col_1"><p>15.789 kr. </p></td>
        <td class="row_2 col_2"><p>23.684 kr. </p></td>
        <td class="row_2 col_3"><p>39.473 kr. </p></td>
      </tr>
      <tr class="odd">
        <td class="row_1 col_0"><p>Hvis du er over 18 år</p></td>
        <td class="row_1 col_1"><p>51.772 kr. </p></td>
        <td class="row_1 col_2"><p>77.658 kr. </p></td>
        <td class="row_1 col_3"><p>129.430 kr. </p></td>
      </tr>
      <tr class="even">
        <td class="row_2 col_0"><p>Hvis du er under 18 år   </p></td>
        <td class="row_2 col_1"><p>15.789 kr. </p></td>
        <td class="row_2 col_2"><p>23.684 kr. </p></td>
        <td class="row_2 col_3"><p>39.473 kr. </p></td>
      </tr>
    </tbody>
  </table>
</div>
