@import '../helper.less';

table {
	display: inline-block;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;

  .responsiveMin(@mq-bp-desktop; {
		border-collapse: collapse;
	  table-layout: fixed;
	  overflow: none;
	  display: table;
  });
}
table.tablefield {
	font-size: 0.88889em;
	.responsiveMin(@mq-bp-desktop; {
  	font-size: 18px;
  });
}
