<form class="form-login" action="/user" method="post" id="user-login" accept-charset="UTF-8">
  <div>
    <div class="form-item form-item-name">
      <label for="edit-name">Username
        <span class="form-required" title="User name">*</span>
      </label>
      <input type="text" id="edit-name" name="name" value="" size="60" maxlength="60" class="form-text required">
      <div class="description">Enter your username of site.</div>
    </div>
    <div class="form-item form-item-pass">
      <label for="edit-pass">Password
        <span class="form-required" title="Password">*</span>
      </label>
      <input type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="form-text required">
      <div class="description">Enter the password that accompanies your username.</div>
    </div>
    <div class="form-actions">
      <input type="submit" id="edit-submit" name="op" value="Log ind" class="form-submit">
    </div>
  </div>
</form>
