<div class="kkdk-menu">
  <div class="kkdk-menu__info">
		<h2>Personlige forhold</h2>
    <div class="kkdk-menu__description">Her finder du oplysninger om bl.a. flytning, vielse og pension. Du kan også læse om Digital Post og få mere at vide om pas, kørekort og personnummer.</div>
  </div>
  <div class="kkdk-menu__image">
  	<img alt="Personlige forhold" src="http://www.kk.dk/sites/default/files/styles/kkdk_menu_parent_icon/public/menu_icons/menu_icon_1820.png?itok=_B4yz-4h" typeof="foaf:Image">
  </div>
</div>