.kkdk-menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 59em;
  padding-bottom: 0 !important;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  position: relative;
}
.kkdk-menu:after {
  clear: both;
  content: "";
  display: table;
}
.kkdk-menu .kkdk-menu__info {
  float: left;
  margin-right: 0.84034%;
  width: 66.3866%;
  padding-bottom: 28px;
}
.kkdk-menu .kkdk-menu__description {
  font-size: 1.22222em;
  line-height: 1.4em;
  margin-top: 5px;
}
.kkdk-menu .kkdk-menu__image {
  bottom: 0;
  float: right;
  margin-right: 0;
  position: absolute;
  right: 0;
  width: 32.7731%;
  margin-top: -28px;
}
