<form accept-charset="UTF-8" id="facetapi-multiselect-form-5" class="filter" method="post" action="">
  <div>
    <div class="form-item form-type-select form-item-facets">
      <label for="edit-facets--5" class="element-invisible">Filtrér efter Search page facet </label>
      <select id="edit-facets--5" name="" class="facetapi-multiselect facetapi-multiselect-sm-search-terms form-select">
        <option value="">Kultur</option>
        <option value="">Digital borger</option>
        <option value="">It</option>
        <option value="">Fritid</option>
     </select>
    </div>
    <input type="submit" class="form-submit" value="Indsend" name="op" id="edit-submit--7">
  </div>
</form>

<!-- multiple="multiple" -->
