.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
}
.filter .chosen-container {
  font-size: 0.88889em;
  max-width: 100%;
}
.filter .chosen-container .chosen-choices,
.filter .chosen-container .chosen-drop {
  background: #fff;
  border: 1px solid #cbd0d3;
  padding: 0;
}
.filter .chosen-container .chosen-choices {
  line-height: 39px;
}
.filter .chosen-container .chosen-choices li.search-field {
  margin: 0;
}
.filter .chosen-container .chosen-choices li.search-field input.default {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #626262;
  font-size: 0.88889em;
  font-style: italic;
  font-weight: bold;
  padding: 0.5625em;
  width: 100%;
  font-family: "Gill Sans W04", "Gill Sans", serif;
  text-transform: uppercase;
  border: 1px solid #fff !important;
  min-width: 300px;
  min-height: 2.2em !important;
}
.filter .chosen-container .chosen-choices li.search-choice {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none;
  box-shadow: none;
  margin: 5px;
  line-height: 1em;
  padding: 0.3em 2.5em 0.3em 1em;
  text-transform: uppercase;
}
