<div class="pane-bundle-better-cph-limited better-cph-limited">
  <h2 class="pane-title">Et bedre København</h2>

  <div class="fieldable-panels-pane">
  	<div class="better-cph-limited__link"><a href="http://www.kk.dk/etbedrekbh">SE ALLE</a></div>
		<div class="better-content better-cph-limited__content">
		  <div class="stats-numbers-wrapper">
			  <div class="stats__items ">
				  <div>Børn og uddannelse  </div>
				  <div class="stats__number ">
				    <a href="/indhold/9-ud-af-10-b%C3%B8rn-i-daginstitutioner-f%C3%A5r-sund-frokostordning">9 ud af 10</a>
				  </div>
				  <div class="stats__content ">børn i daginstitutioner får sund frokostordning  </div>
			  </div>

		    <div class="stats__items">
				  <div>Grøn by  </div>
				  <div class="stats__number">
				    <a href="/indhold/31-mindre-co2-udledning-i-k%C3%B8benhavn-siden-2005">31 %</a>
				  </div>
				  <div>mindre CO2-udledningen i København siden 2005  </div>
			  </div>

		    <div class="stats__items">
				  <div>Vækst og beskæftigelse</div>
				  <div class="stats__number">
				    <a href="/indhold/35-flere-h%C3%B8jtuddannede-udl%C3%A6ndinge-i-k%C3%B8benhavn-p%C3%A5-fem-%C3%A5r">35 %</a>
				  </div>
				  <div>flere højtuddannede udlændinge i København på fem år  </div>
			  </div>
			</div>
		</div>

	  <div class="better-cph-limited__image">
	    <img width="1920" height="520" title="Et bedre København" alt="" src="http://www.kk.dk/sites/default/files/styles/better_cph_banner/public/uploaded-images/Kultur-og-idr%C3%A6t-%282%29_2.png?itok=nRTkzQG1" typeof="foaf:Image">
	  </div>
	</div>
</div>