//Helper var
@width-33 : 100%/3 ;

//Helper color
@black: #000;
@white: #fff;

//Helper media queries
// Media queries breakpoints
@mq-bp-desktop-plus: 960px;
@mq-bp-desktop-plus-minus: 959px;
@mq-bp-desktop: 768px;
@mq-bp-desktop-minus: 767px;
@mq-bp-tablet-plus : 480px;
@mq-bp-tablet-plus-minus : 479px;

//Helper minin
.responsiveMin(@minWidth; @rules) {
  @media (min-width: @minWidth) {
    @rules();
  }
}

.responsive(@minWidth; @maxWidth; @rules) {
  @media (min-width: @minWidth) and (max-width: @maxWidth){
    @rules();
  }
}
.responsiveMax(@maxWidth; @rules) {
  @media (max-width: @maxWidth) {
    @rules();
  }
}

.span-columns(@numCol) {
  width: 100% / @numCol;
}

.clearleft() {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.box-style-border-doupble() {
  border: 1px solid #ebebeb;
  -moz-box-shadow : 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow : 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow : 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
}

.opacity (@opacity: 0.5) {
  -webkit-opacity:  @opacity;
  -moz-opacity:     @opacity;
  opacity:    @opacity;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

// .thanh {
//   &__item {
//     .responsiveMin(@mq-bp-desktop-minus; {
//       .span-columns(6);
//     });
//   }
// }

