<section class="sec sec-footer">
 <div class="sec-inner">
  <div class="block block-block bl-footer first odd" id="block-block-2">
   <h2 class="title title-footer">Kontakt</h2>
   <div class="tx-content tx-sec">
    <p>Københavns Kommune
     <br>
Borgerservice
      <br>
Tel. 33 66 33 66
       <br>
CVR-nummer: 64942212
        <br>
         <a href="http://www.kk.dk/node/11386">Andre kontaktmuligheder</a>
        </p>
       </div>
      </div>
      <div class="block block-menu bl-footer second even" id="block-menu-menu-footer-left">
       <h2 class="title title-footer">Genveje</h2>
       <div class="menu-footer tx-sec">
        <ul class="menu">
         <li class="first leaf">
          <a title="Hvis du skriver til os med personlige informationer, skal du gøre det sikkert via Digital Post. Hav dit NemID klar til at logge på. " href="http://www.kk.dk/digitalpost">Digital Post</a>
         </li>
         <li class="leaf">
          <a title="Job i Københavns Kommune?" href="http://www.kk.dk/job">Job</a>
         </li>
         <li class="leaf">
          <a title="Presserummet for Københavns Kommune" href="http://www.kk.dk/presse">Presse</a>
         </li>
         <li class="leaf">
          <a title="Se, hvad du skal gøre, hvis du vil indgive en klage" href="http://www.kk.dk/artikel/hvis-du-vil-klage">Hvis du vil klage</a>
         </li>
         <li class="leaf">
          <a title="" href="http://www.kk.dk/artikel/om-hjemmesiden">Om hjemmesiden</a>
         </li>
         <li class="last leaf">
          <a title="Find vej til alt lige fra legepladser til parkering" href="http://kbhkort.kk.dk/cbkort?&amp;element=footer">Københavnerkort</a>
         </li>
        </ul>
       </div>
      </div>
      <div class="block block-menu bl-footer third odd" id="block-menu-menu-footer-right">
       <h2 class="title title-footer">Genveje</h2>
       <div class="menu-footer tx-sec">
        <ul class="menu">
         <li class="first leaf">
          <a title="Go to English site " href="http://international.kk.dk">English</a>
         </li>
         <li class="leaf">
          <a title="Gå til Min Side på borger.dk" href="https://www.borger.dk/minside/Sider/default.aspx">Min Side på borger.dk</a>
         </li>
         <li class="leaf">
          <a title="Københavns kommunes digitale høringsportal" href="http://www.blivhoert.kk.dk/">Høringsportal</a>
         </li>
         <li class="leaf">
          <a title="Få teksten læst højt ved at hente og installere et gratis program hos adgangforalle.dk" href="http://www.adgangforalle.dk/">Læs højt</a>
         </li>
         <li class="last leaf">
          <a title="Københavns kommunes medarbejderportal" href="http://medarbejder.kk.dk/">For medarbejdere</a>
         </li>
        </ul>
       </div>
      </div>
      <div class="block block-follow bl-follow" id="block-follow-site">
       <div class="follow-links clearfix site">
        <div class="follow-link-wrapper follow-link-wrapper-facebook">
         <a title="Følg Københavns Kommune på Facebook" class="ln-facebook ic-" href="https://www.facebook.com/koebenhavnskommune">
          <span class="tx-ic">Facebook</span>
         </a>
        </div>
        <div class="follow-link-wrapper follow-link-wrapper-twitter">
         <a title="Følg Københavns Kommune på Twitter" class="ln-twitter ic-" href="https://twitter.com/koebenhavner">
          <span class="tx-ic">Twitter</span>
         </a>
        </div>
       </div>
      </div>
      <div class="block block-block bl-footer second odd" id="block-block-6">
       <div class="tx-content tx-sec"></div>
      </div>
     </div>
    </section>
<footer class="sec sec-bottom">
  <div class="sec-inner"></div>
</footer>