<ul class="list-icon">
  <li class="ic-share tx-ln"> ic-share</li>
  <li class="ic-print tx-ln"> ic-print</li>
  <li class="ic-facebook tx-ln"> ic-facebook</li>
  <li class="ic-twit tx-ln"> ic-twit</li>
  <li class="ic-gplus tx-ln"> ic-gplus</li>
  <li class="ic-search tx-ln"> ic-search</li>
  <li class="ic-search2 tx-ln"> ic-search2</li>
  <li class="ic-heart tx-ln"> ic-heart</li>
  <li class="ic-heart2 tx-ln"> ic-heart2</li>
  <li class="ic-location tx-ln"> ic-location</li>
  <li class="ic-list tx-ln"> ic-list</li>
  <li class="ic-grid tx-ln"> ic-grid</li>
  <li class="ic-email tx-ln"> ic-email</li>
  <li class="ic-phone tx-ln"> ic-phone</li>
  <li class="ic-link tx-ln"> ic-link</li>
  <li class="ic-linkedin tx-ln"> ic-linkedin</li>
  <li class="ic-list tx-ln"> ic-list</li>
  <li class="ic-layout tx-ln"> ic-layout</li>
  <li class="ic-rss tx-ln"> ic-rss</li>
  <li class="feed-icon tx-ln"> feed-icon</li>
  <li class="ic-fb tx-ln"> ic-fb</li>
  <li class="ic-twitter tx-ln"> ic-twitter</li>
  <li class="ic-tag tx-ln"> ic-tag</li>
  <li class="ic-arrow-up tx-ln"> ic-arrow-up</li>
  <li class="ic-arrow-down tx-ln"> ic-arrow-down</li>
  <li class="ic-arrow-left tx-ln"> ic-arrow-left</li>
  <li class="ic-arrow-right tx-ln"> ic-arrow-right</li>
  <li class="ic-speaker tx-ln"> ic-speaker</li>
  <li class="ic-mail-circle tx-ln"> ic-mail-circle</li>
  <li class="ic-rss-circle tx-ln"> ic-rss-circle</li>
  <li class="ic-flickr-circle tx-ln"> ic-flickr-circle</li>
  <li class="ic-gplus-circle tx-ln"> ic-gplus-circle</li>
  <li class="ic-tumblr-circle tx-ln"> ic-tumblr-circle</li>
  <li class="ic-linkedin-circle tx-ln"> ic-linkedin-circle</li>
  <li class="icon-instagram-with-circle ic- tx-ln"> icon-instagram-with-circle</li>
</ul>
<ul class="list-icon">
  <li class="ln-facebook ic-facebook tx-ln"> ln-facebook</li>
  <li class="ln-vimeo ic-link tx-ln"> ln-vimeo</li>
  <li class="ln-newsletter ic-mail-circle tx-ln"> ln-newsletter</li>
  <li class="ln-this-site ic-rss-circle tx-ln"> ln-this-site</li>
  <li class="ln-flickr ic-flickr-circle tx-ln"> ln-flickr</li>
  <li class="ln-googleplus ic-gplus-circle tx-ln"> ln-googleplus</li>
  <li class="ln-tumblr ic-tumblr-circle tx-ln"> ln-tumblr</li>
  <li class="ln-linkedin ic-linkedin-circle tx-ln"> ln-linkedin</li>
  <li class="ln-instagram ic-instagram-with-circle tx-ln"> ln-instagram</li>
</ul>