<div class="bef-link">
  <div class="form-type-bef-link selected">
    <a href="#">Alle</a>
  </div>
  <div class="form-type-bef-link">
    <a href="#">Børn og uddannelse</a>
  </div>
  <div class="form-type-bef-link">
    <a href="#">Vækst og beskæftigelse</a>
  </div>
  <div class="form-type-bef-link">
    <a href="#">Social udvikling</a>
  </div>
  <div class="form-type-bef-link">
    <a href="#">Grøn by</a>
  </div>
  <div class="form-type-bef-link">
    <a href="#">Kultur og idræt</a>
  </div>
  <div class="form-type-bef-link">
    <a href="#">Sundhed</a>
  </div>
  <div class="form-type-bef-link">
    <a href="#">Borgerservice</a>
  </div>
</div>
