<div class="bl-element contact">
  <h2 class="contact__title">Kontakt</h2>
  <div class="contact__description">For mere information vedrørende denne side.</div>
  <div class="contact__content">
	  <h3><a href="/institution/k%C3%B8benhavns-borgerservice">Københavns Borgerservice</a></h3>

	  <div class="group-contact-info">
			<div class="group-location">
			  <div class="address">
			    <div>Nyropsgade 1</div>
			    <div>
			    	<span class="postal-code">1602</span>
			    	<span class="locality">København V</span>
			    </div>
			  </div>
			</div>
			<div class="group-contact">
        <div class="telephone ic-phone">
          +45 33 66 33 66</div>
      </div>
	  </div>
  </div>
</div>