.contact {
  background: none repeat scroll 0 0 white;
}
.contact > div:nth-of-type(1) {
  margin-bottom: 1.33333em;
}
.contact .contact__content {
  overflow: hidden;
}
.contact .contact__content h3 {
  font-size: 1.11111em;
  font-weight: bold;
  margin-bottom: 0.27778em;
  text-transform: none;
}
.contact .address {
  margin: 0 20px 10px;
}
@media (min-width: 768px) {
  .contact .address {
    margin: 0 42px 1em;
  }
}
.contact .telephone {
  margin: 0.5em 20px;
}
@media (min-width: 768px) {
  .contact .telephone {
    margin: 0.5em 28px;
  }
}
.contact .group-contact-info__inner {
  margin-bottom: 42px;
}
.contact .group-contact-info__inner:after {
  clear: both;
  content: '';
  display: table;
}
