<form accept-charset="UTF-8" id="search-form" method="post" action="" class="search-form">
  <div>
    <div id="edit-basic" class="container-inline form-wrapper">
      <div class="form-item form-type-textfield form-item-keys">
        <label for="edit-keys" class="element-invisible">Enter terms </label>
        <input type="text" maxlength="255" size="20" value="" name="keys" id="edit-keys" class="apachesolr-autocomplete unprocessed form-text form-autocomplete" autocomplete="off">
      </div>
      <input type="submit" class="form-submit" value="Søg" name="op" id="edit-submit">
      <div class="form-item form-type-checkbox form-item-retain-filters">
        <input type="checkbox" class="form-checkbox" value="1" name="retain-filters" id="edit-retain-filters">
        <label for="edit-retain-filters" class="option">Gem nuværende filtre </label>
      </div>
    </div>
  </div>
</form>
