@import '../helper.less';

// .accordion {
//   .ui-accordion-header {
//     border-bottom: 2px solid #cbd0d3;
//     color: #007ea4;
//     cursor: pointer;
//     font-size: 14px;
//     margin: 0;
//     padding: 1em 2em 1em 2.5em;
//     position: relative;
//     text-transform: uppercase;

//     &:before {
//       bottom: 0;
//       content: '';
//       left: 0;
//       max-width: 4px;
//       position: absolute;
//       top: 0;
//       width: 4px;
//     }

//     &:hover {
//       background-color: #ebebeb;
//     }

//     &:hover:before {
//       border-left: 4px solid #007ea4;
//     }

//     .ui-accordion-header-icon {
//       left: 1em;
//       margin-top: -8px;
//       position: absolute;
//       top: 50%;

//       &:before {
//         color: #007ea4;
//         content: '\e615';
//         font-family: "icomoon";
//         font-style: normal;
//         font-variant: normal;
//         font-weight: normal;
//         line-height: 1;
//         text-transform: none;
//       }
//     }
//   }

//   #ui-id-1.accordion_item {
//     border-top: 2px solid transparent;
//   }
//   #ui-id-1.accordion_item:hover,
//   #ui-id-1.ui-accordion-header-active {
//     border-top: 2px solid #cbd0d3;
//   }

//   .ui-accordion-content {
//     border-bottom: 2px solid #cbd0d3;
//     padding: 1em 2.2em;
//   }

//   .ui-accordion-header-active,
//   .ui-accordion-content-active {
//     background-color: #cbd0d3;
//   }

//   .ui-accordion-header-active {
//     color: #444444;

//     &:before {
//       border-left: 4px solid #007ea4;
//     }

//     .ui-accordion-header-icon {
//       &:before {
//         content: '\e613';
//       }
//     }
//   }
// }

.accordion{
  margin: 0;
  padding: 0;
  font-size: 0.88889em;
  font-family: "Gill Sans W04","Gill Sans",serif;

  h1{
    font-size: em(20,18);
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: normal;
  }

  &__content {
    overflow: auto !important;
    background: none #ebebeb;
    height: 100% !important;
    border: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 0;
  }
}

.accordion{
  .ui-widget-content{
    overflow: auto !important;
    background: #ebebeb;
    height: 100% !important;
    border: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 0;
  }


  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    background: #fff;
    border: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #cbd0d3;
    margin-top: 0;

    a{
      color: #007ea4;
    }

  }

  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover{
    background: none #ebebeb;
    border: 0;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 2px solid #cbd0d3;

    a{
      color: #000;
    }
  }


  .ui-state-active a,
  .ui-state-active a:link,
  .ui-state-active a:visited {
    color: #212121;
    text-decoration: none;

    a{
      color: #000;
    }
  }

  .accordion_item{
    color: #000;
    font-size: 0.9375em;
    font-weight: 400;
    padding: 1em 2em 1em 2.5em;
    text-transform: uppercase;

    &:before{
      position: absolute;
      left: 0;
      top: 0;
      bottom:0;
      content: ' ';
      width: 4px;
      max-width: 4px;
      border-left: 4px solid #fff;
    }

    .ui-accordion-header-icon{
      background: none;
      text-indent: 0;
      left: 1em;
      .iconmoon-before();

      &:before{
        color: #007ea4;
        font-size: 0.8em;
        font-weight: 600;
        visibility: visible;
        content: '\e615';
      }
    }
  }

  .ui-accordion-content {
    border-bottom: 2px solid #cbd0d3;
  }

  .accordion_item.ui-state-active,
  .accordion_item.ui-state-focus,
  .accordion_item.ui-state-hover{
    background: none #ebebeb;
    border-bottom: 2px solid #cbd0d3;
    &:before{
      border-left: 4px solid #007ea4;
    }
  }

  .accordion_item.ui-state-active{
    .ui-accordion-header-icon{
      &:before{
        content: '\e613';
      }
    }
  }

  .accordion_item:first-child{
    border-top: 2px solid #fff;
  }
  .accordion_item.ui-state-focus:first-child,
  .accordion_item.ui-state-hover:first-child{
    border-top: 2px solid #cbd0d3;
  }


  .field-name-field-image-single{
    clear: both;
  }


  .ui-corner-all,
  .ui-corner-top,
  .ui-corner-left,
  .ui-corner-tl {
    border-top-left-radius: 0;
  }
  .ui-corner-all,
  .ui-corner-top,
  .ui-corner-right,
  .ui-corner-tr {
    border-top-right-radius: 0;
  }
  .ui-corner-all,
  .ui-corner-bottom,
  .ui-corner-left,
  .ui-corner-bl {
    border-bottom-left-radius: 0;
  }
  .ui-corner-all,
  .ui-corner-bottom,
  .ui-corner-right,
  .ui-corner-br {
    border-bottom-right-radius: 0;
  }
}
