<div class="flexslider">
  <ul class="slides">
    <li>
      <img title="Foto af Nyhavnsbroen (foto: Ursula Bach)" alt="" src="http://www.kk.dk/sites/default/files/styles/node_view_images/public/uploaded-images/S%C3%A5dan-f%C3%A5r-du-en-bro-%C3%A5bnet-Nyhavnsbroen-Indholdsbillede.jpg?itok=uACX3OqK" typeof="foaf:Image" draggable="false">
    </li>
    <li>
      <img title="Foto af Knippelsbro (foto: Ursula Bach)" alt="" src="http://www.kk.dk/sites/default/files/styles/node_view_images/public/uploaded-images/S%C3%A5dan-f%C3%A5r-du-en-bro-%C3%A5bnet-Knippelsbro-Indholdsbillede.jpg?itok=Bx5ITf0u" typeof="foaf:Image" draggable="false">
    </li>
    <li>
      <img title="Foto af Langebro (foto: Ursula Bach)" alt="" src="http://www.kk.dk/sites/default/files/styles/node_view_images/public/uploaded-images/S%C3%A5dan-f%C3%A5r-du-en-bro-%C3%A5bnet-Langebro-Indholdsbillede.jpg?itok=l1F-Dej6" typeof="foaf:Image" draggable="false">
    </li>
    <li>
      <img title="Foto af Bryggebro (foto:Ursula Bach)" alt="" src="http://www.kk.dk/sites/default/files/styles/node_view_images/public/uploaded-images/S%C3%A5dan-f%C3%A5r-du-en-bro-%C3%A5bnet-Bryggebro-Indholdsbillede.jpg?itok=IEHeH__f" typeof="foaf:Image" draggable="false">
    </li>
    <li>
      <img title="Foto af Teglværksbroen (foto: Ursula Bach)" alt="" src="http://www.kk.dk/sites/default/files/styles/node_view_images/public/uploaded-images/S%C3%A5dan-f%C3%A5r-du-en-bro-%C3%A5bnet-Teglv%C3%A6rksbroen-Indholdsbillede.jpg?itok=UOhSCUFP" typeof="foaf:Image" draggable="false">
    </li>
    <li>
      <img title="Foto af Nyhavnsbroen (foto: Ursula Bach)" alt="" src="http://www.kk.dk/sites/default/files/styles/node_view_images/public/uploaded-images/S%C3%A5dan-f%C3%A5r-du-en-bro-%C3%A5bnet-Nyhavnsbroen-Indholdsbillede.jpg?itok=uACX3OqK" typeof="foaf:Image" draggable="false">
    </li>
    <li>
      <img title="Foto af Knippelsbro (foto: Ursula Bach)" alt="" src="http://www.kk.dk/sites/default/files/styles/node_view_images/public/uploaded-images/S%C3%A5dan-f%C3%A5r-du-en-bro-%C3%A5bnet-Knippelsbro-Indholdsbillede.jpg?itok=Bx5ITf0u" typeof="foaf:Image" draggable="false">
    </li>
  </ul>
</div>
