{# color.twig #}
{% extends "includes/layout.twig" %}

{% block title %}Documentation{% endblock %}
{% block body %}

<link rel="stylesheet" type="text/css" href="css/markdown.css">
<div class="pagetype" data-page="page-doc"></div>

<div class="kkdk-doc">
    <div class="boxed-group flush clearfix announce instapaper_body md" id="readme">
      <article itemprop="mainContentOfPage" class="markdown-body entry-content">
        <h2>
          <a aria-hidden="true" href="#styleguide-for-kkdk-site" class="anchor" id="user-content-styleguide-for-kkdk-site">
            <span class="octicon octicon-link"></span>
          </a>Styleguide for KK.dk site
        </h2>
        <h3>
          <a aria-hidden="true" href="#install-nodejs" class="anchor" id="user-content-install-nodejs">
            <span class="octicon octicon-link"></span>
          </a>Install nodejs
        </h3>
        <p>See page 
          <a href="https://nodejs.org/" target="_blank">Nodejs offical page</a>
        </p>
        <h1></h1>
        <h3>
          <a aria-hidden="true" href="#build-project" class="anchor" id="user-content-build-project">
            <span class="octicon octicon-link"></span>
          </a>Build project
        </h3>
        <p>Open <code>command prompt node js</code> (window) or <code>terminal</code> (ubuntu, osx... )</p>
        <p>
          <pre>npm install</pre>
        </p>
        <h1></h1>
        <h3>
          <a aria-hidden="true" href="#run-project" class="anchor" id="user-content-run-project">
            <span class="octicon octicon-link"></span>
          </a>Run project
        </h3>
        <p>Open <code>command prompt</code> (window) or <code>terminal</code> (ubuntu, osx ... )</p>
        <p>
          <pre>gulp</pre>
        </p>
        <h1></h1>
        <h3>
          <a aria-hidden="true" href="#create-new-component" class="anchor" id="user-content-create-new-component">
            <span class="octicon octicon-link"></span>
          </a>Create new component
        </h3>
        <ul>
          <li>In folder component , create subfolder has name same name component (no space , special symbol)</li>
          <li>In folder yet created , create <code>[name-folder].html</code> and <code>[name-folder].css</code></li>
          <li>File html save markup component</li>
          <li>File css save style component</li>
          <li>Open <code>[dir project]/components.twig</code> , find row <code>"list_components"</code> </li>
          <li>Add structure to last row
            <pre>
            {
              'id':'[name-folder]',
              'name': '[Display name of component]'
            }
            </pre>
          </li>
        </ul>
        <p>
          <strong>Run <code>'gulp'</code> command again after create new component</strong>
        </p>
        <h1></h1>

        <h3>
          <a aria-hidden="true" href="#edit-index-content" class="anchor" id="edit-index-content">
            <span class="octicon octicon-link"></span>
          </a>Edit index content
        </h3>
        <ul>
          <li>Add/Edit content in index.twig</li>
          <li>Run <code>'gulp'</code> command again to re-generate content</li>
        </ul>
        <h1></h1>

        <h2>
          FFW team!
        </h2>
      </article>
    </div>
</div>


{% endblock %}
