.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
}
.pager {
  height: auto;
}
.pager:after {
  clear: both;
  content: '';
  display: table;
}
