<div class="post">
  <div class="post__item">
    <div class="post__content">
      <div class="post__created">24.04.2015</div>
      <div class="post__title"><a href="" class="post__link">Nye tider på Københavns biblioteker</a></div>
      <div class="tags ic-tag">
        <span class="tags-content">
          <a href="#">Biblioteker</a>,
          <a href="#">Borgerbetjening</a>,
        </span>
      </div>
    </div>
  </div>
  <div class="post__item">
    <div class="post__content">
      <div class="post__created">24.04.2015</div>
      <div class="post__title"><a href="" class="post__link">Nye tider på Københavns biblioteker</a></div>
      <div class="tags ic-tag">
        <span class="tags-content">
          <a href="#">Biblioteker</a>,
          <a href="#">Borgerbetjening</a>,
        </span>
      </div>
    </div>
  </div>
  <div class="post__item">
    <div class="post__content">
      <div class="post__created">24.04.2015</div>
      <div class="post__title"><a href="" class="post__link">Nye tider på Københavns biblioteker</a></div>
      <div class="tags ic-tag">
        <span class="tags-content">
          <a href="#">Biblioteker</a>,
          <a href="#">Borgerbetjening</a>,
        </span>
      </div>
    </div>
  </div>
</div>
