.post:after {
  clear: both;
  content: '';
  display: table;
}
@media (min-width: 480px) {
  .post {
    margin-left: -4px;
    margin-right: -4px;
  }
}
.post__item {
  float: left;
  margin-bottom: 12px;
  width: 100%;
}
@media (min-width: 480px) {
  .post__item {
    width: 50%;
    padding: 0 4px;
  }
}
@media (min-width: 768px) {
  .post__item {
    width: 33.33333333%;
  }
}
.post__content {
  border: 1px solid #ebebeb;
  -moz-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  -webkit-box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  box-shadow: 3px 3px 0 rgba(68, 68, 68, 0.15), 0 0 1px rgba(68, 68, 68, 0.15);
  height: 201px;
  overflow: auto;
  padding: 28px;
}
.post__created {
  color: #626262;
  margin-bottom: 21px;
}
.post .tags {
  margin: 1em 0;
}
