{% block header %}
<div class="sec sec-header">
  <div class="sec-inner">
    <a class="logo-page" rel="home" title="Hjem" href="/">
      <img alt="Københavns Kommune" src="http://www.kk.dk/sites/all/themes/kkdk_theme/logo.png">
    </a>
  </div>
</div>
<nav class="sec sec-menu">
  <div class="sec-inner menu-section-addings-processed">
    <ul class="menu-main menu clearfix" id="main-menu">
      <li><a class="active" href="index.html">KK Style Guide</a></li>
      <li><a href="components.html">Components</a></li>
      <li><a href="typography.html">Typography</a></li>
      <li><a href="grid.html">Grid</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
