.table-link table {
  width: 100%;
  font-size: 0.88889em;
}
@media (min-width: 768px) {
  .table-link table {
    font-size: 18px;
  }
}
.table-link table thead tr {
  background-color: whitesmoke;
  border-top: 1px solid #dddddd;
}
.table-link table thead a {
  color: #006d8c;
  text-transform: uppercase;
}
.table-link table td,
.table-link table th {
  text-align: left;
  vertical-align: middle;
}
.table-link table tr {
  border-bottom: 1px solid #dddddd;
}
.table-link table tr:hover,
.table-link table tr:hover a {
  color: #006d8c;
}
.table-link table th a {
  display: block;
  padding: 17px 12px;
}
.table-link table td {
  cursor: pointer;
  height: 51px;
  padding: 0 12px;
}
.table-link table a {
  color: #444444;
}
.table-link .table-link__title a,
.table-link .table-link__announced a,
.table-link .table-link__announced-1 a {
  border-left: 1px solid white;
}
.table-link .table-link__title {
  width: 35%;
}
.table-link .table-link__announced {
  width: 20%;
}
.table-link .table-link__announced-1 {
  width: 20%;
}
