<div class="table-link">
  <table>
    <thead>
      <tr>
        <th class="table-link__name">
            <a class="active" title="sorter efter Kontrakttype" href="/udbud?order=name&amp;sort=asc">Kontrakttype</a>
        </th>
        <th class="table-link__title">
            <a class="active" title="sorter efter Titel" href="/udbud?order=title&amp;sort=asc">Titel</a>
        </th>
        <th class="table-link__announced">
            <a class="active" title="sorter efter Offentliggjort" href="/udbud?order=field_announced_1&amp;sort=asc">Offentliggjort</a>
        </th>
        <th class="table-link__announced-1">
            <a class="active" title="sorter efter Ansøgningsfrist" href="/udbud?order=field_submit&amp;sort=asc">Ansøgningsfrist</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd views-row-first view-tender-click-processed">
        <td class="table-link__name">Varer og tjenesteydelser</td>
        <td class="table-link__title">
          <a href="#">Rejseplansintegration i den kvikke vej</a>
        </td>
        <td class="table-link__announced">
          <span class="date-display-single">09.07.2015</span>
        </td>
        <td class="table-link__announced-1">
          <span class="date-display-single">10.08.2015</span>
        </td>
      </tr>
      <tr class="even view-tender-click-processed">
        <td class=" views-field-name">Varer og tjenesteydelser</td>
        <td class=" views-field-title">
          <a href="#">El-biler og Plug-in Hybridbiler</a>
        </td>
        <td class=" views-field-field-announced-1">
          <span class="date-display-single">03.07.2015</span>
        </td>
        <td class=" views-field-field-submit">
          <span class="date-display-single">11.08.2015</span>
        </td>
      </tr>
      <tr class="odd view-tender-click-processed">
        <td class=" views-field-name">Varer og tjenesteydelser</td>
        <td class=" views-field-title">
          <a href="/indhold/nyt-eoj-system">Nyt EOJ-system</a>
        </td>
        <td class=" views-field-field-announced-1">
          <span  class="date-display-single">26.06.2015</span>
        </td>
        <td class=" views-field-field-submit">
          <span class="date-display-single">20.08.2015</span>
        </td>
      </tr>
      <tr class="even view-tender-click-processed">
        <td class=" views-field-name">Varer og tjenesteydelser</td>
        <td class=" views-field-title">
          <a href="/indhold/brintbiler">Brintbiler</a></td>
        <td class=" views-field-field-announced-1">
          <span class="date-display-single">29.06.2015</span>
        </td>
        <td class=" views-field-field-submit">
          <span class="date-display-single">10.08.2015</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

