<div class="image-link">
  <div class="image-link__item">
    <div class="image-link__content">
      <div class="image-link__single">
        <img src="http://www.kk.dk/sites/default/files/styles/flexslider_full/public/uploaded-images/kk_grundm_sort.jpg?itok=RqF0pFKz">
      </div>
      <div class="image-link__info">
        <a href="https://twitter.com/koebenhavner">Twitter</a>
      </div>
    </div>
  </div>
  <div class="image-link__item">
    <div class="image-link__content">
      <div class="image-link__single">
        <img src="http://www.kk.dk/sites/default/files/styles/flexslider_full/public/uploaded-images/instagram_kk.jpg?itok=YvfHfeC5">
      </div>
      <div class="image-link__info">
        <a href="http://instagram.com/koebenhavnskommune/">Instagram</a>
      </div>
    </div>
  </div>

  <div class="image-link__item">
    <div class="image-link__content">
      <div class="image-link__single">
        <img src="http://www.kk.dk/sites/default/files/styles/flexslider_full/public/uploaded-images/10291101_643176182402126_6422824199610117155_n.jpg?itok=jPEDin9a">
      </div>
      <div class="image-link__info">
        <a href="https://www.facebook.com/koebenhavnskommune">Facebook</a>
      </div>
    </div>
  </div>
</div>
