<div class="coloured-infobox">
  <div class="coloured-infobox__item"><a href="#" class="coloured-infobox__link" style='background-color: #00ACDD'>
      <span class="coloured-infobox__content">BLIV GIFT</span>
      <div class="coloured-infobox__icon" style="background-image: url('http://www.kk.dk/sites/default/files/styles/coloured_infobox_icon/public/vandm%C3%A6rker_til_test.png')"></div>
    </a></div>
  <div class="coloured-infobox__item"><a href="#" class="coloured-infobox__link" style='background-color: #00ACDD'>
      <span class="coloured-infobox__content">GIV ET PRAJ</span>
      <div class="coloured-infobox__icon" style="background-image: url('http://www.kk.dk/sites/default/files/styles/coloured_infobox_icon/public/Kbh%20logo%20bund.png')"></div>
    </a></div>
  <div class="coloured-infobox__item"><a href="#" class="coloured-infobox__link" style='background-color: #00ACDD'>
      <span class="coloured-infobox__content">FIND DIT BORGERSERVICECENTER</span>
      <div class="coloured-infobox__icon" style="background-image: url('http://www.kk.dk/sites/default/files/styles/coloured_infobox_icon/public/vandm%C3%A6rker_til_test3.png')"></div>
    </a></div>
</div>
