<div class="file file-video">
  <h2 class="element-invisible">
    <a href="#">Exit fra kriminalitet - Tidligere deltager </a>
  </h2>
  <div class="content">
    <div style="width:100%; height:0; position: relative; padding-bottom:56.25%">
      <iframe frameborder="0" webkitallowfullscreen="1" mozallowfullscreen="1" allowfullscreen="1" scrolling="no" border="0" style="width:100%; height:100%; position: absolute; top: 0; left: 0;" src="http://www.video.kk.dk/v.ihtml/player.html?source=share&amp;photo%5fid=8756041&amp;autoPlay=0"></iframe>
    </div>
  </div>
</div>
